/*---------------------------------------------------------------------------*/

/* OTHER TOP */

/*---------------------------------------------------------------------------*/
.title-wrapper {
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
	width: 100%;

	> * {
		flex-shrink: 0;
	}

	.title-line + * {
		margin-left: 50px;
		position: relative;

		&::before {
			background-color: #fff;
			content: "";
			height: 100%;
			left: -50px;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: -1;
		}
	}
}

.btn.only-mobile {
	display: none;
}

@media (max-width: 1199px) {
	.title-wrapper {

		.title-line + * {
			margin-left: 30px;

			&::before {
				left: -30px;
			}
		}
	}
}

@media (max-width: 767px) {
	.title-wrapper {

		.title-line + * {
			margin-left: 50px;
			position: relative;

			&::before {
				background-color: #fff;
				content: "";
				height: 100%;
				left: -50px;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: -1;
			}
		}

		.btn {
			display: none;
		}
	}

	.btn.only-mobile {
		display: block;
		margin-top: 20px;
	}
}
