//VARIABLES
@import "variables-mixins";
/**--------------------------------------------------------------------------------*/
/**     BUTTONS     */
/**--------------------------------------------------------------------------------*/
.btn {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: none;
  transition: $transition;
  font-size: 1.6rem;
  line-height: 1.25em;
  font-weight: 700;
  padding: 0.8125em 1.5em;
  border-radius: 2.5em;

  i {
    position: relative;
    margin-left: 1.5em;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 50%;
    //   left: 0;
    //   width: 9px;
    //   height: 2px;
    //   transform: translateY(-50%);
    //   border-right: 2px solid;
    //   border-bottom: 2px solid;
    //   border-color: inherit;
    //   transition: $transition;
    // }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 0.5625em;
      height: 0.5625em;
      transform: translateY(-50%) rotate(-45deg);
      border-right: 2px solid;
      border-bottom: 2px solid;
      border-color: inherit;
      transition: $transition;
    }
  }

  &-primary {
    background: $color-white;
    border: 1px solid $color-text-30;
    color: $color-text-10;

    i {
      &::after {
        border-color: $color-primary-base1-10;
      }
    }
  }

  &-secondary {
    color: $color-white;
    border: 1px solid $color-primary-base1-20;
    background: transparent;

    i {
      &::after {
        border-color: $color-white;
      }
    }
  }

  &-small {
    font-size: 1.4rem;
    line-height: 1.57em;
    padding: 0.45rem 2.4rem;
  }

  &:focus {
    background: $color-white;
    outline: 0.125em solid $color-info;
    border-radius: 1.5em;
  }
}

.btn-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  background: none;
  transition: $transition;
  font-size: 1.6rem;
  line-height: 1em;
  font-weight: 700;

  //types
  &-primary {
    color: $color-text-10;
  }

  &-secondary {
    color: $color-white;
  }

  &.right {
    padding-right: 1.875em;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      border-right: 2px solid;
      border-bottom: 2px solid;
      border-color: $color-primary-base1-10;
      transition: $transition;
    }

    &::before {
      width: 1.125em;
      right: -0.0625em;
    }

    &::after {
      width: 0.67em;
      height: 0.67em;
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}

.btn-search {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0.3125em 1.125em 0.3125em 1.5em;
  background: $color-white;
  border: 0.0625em solid $color-text-30;
  border-radius: 2.5em;
  color: $color-text-10;
  cursor: pointer;
  transition: $transition;

  .input {
    height: auto;
    max-width: 3.43em;
    border: none;
    border-radius: unset;
    font-size: 1.4rem;
    line-height: 1.57em;
    font-weight: 700;
    padding: 0;
    margin-right: 1.21em;
    background: transparent;

    // &:focus {
    //   background: transparent;
    //   border-color: transparent;
    //   max-width: 8.85em;
    //   outline: none;
    // }
  }

  button {
    width: 1.25em;
    height: 1.25em;
    cursor: pointer;

    svg path {
      transition: $transition;
    }
  }

  &.type-2 {
    display: flex;
    max-width: 26rem;
    margin: 0 auto;

    .input {
      max-width: 12.85em;
    }
  }
}

//btn-close
.btn-close {
  position: relative;
  width: 3.2rem;
  height: 3.2rem;
  transition: $transition;
  cursor: pointer;
  border-radius: 100%;
  background-color: transparent;
  border: 0.1rem solid $color-primary-base1-10;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: $transition;
    width: 0.2rem;
    height: 1rem;
    background: $color-white;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

//plus-minus
// .btn-plus {
//   position: relative;
//   display: inline-block;
//   vertical-align: bottom;
//   text-align: center;
//   cursor: pointer;
//   text-decoration: none;
//   border: none;
//   background: none;
//   transition: $transition;
//   width: 4.8rem;
//   height: 4.8rem;
//   border-radius: 2.4rem;

//   &::before,
//   &::after {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     right: 20px;
//     transform: translate(-50%, -50%);
//     width: 12px;
//     height: 2px;
//     background-color: transparent;
//     transition: $transition;
//   }

//   &::after {
//     width: 2px;
//     height: 12px;
//   }

//   &-primary {
//     background: $color-white;
//     border: 1px solid $color-text-30;

//     &::before,
//     &::after {
//       background-color: $color-text-10;
//     }
//   }

//   &-secondary {
//     background: transparent;
//     border: 1px solid $color-primary-base1-10;

//     &::before,
//     &::after {
//       background-color: $color-white;
//     }
//   }

//   &-small {
//     width: 3.2rem;
//     height: 3.2rem;

//     &::before,
//     &::after {
//       width: 0.625em;
//       height: 0.125em;
//     }

//     &::after {
//       width: 0.125em;
//       height: 0.625em;
//     }
//   }
// }


.tag {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.57em;
  font-weight: 500;
  color: $color-text-10;
  background: $color-white;
  border-radius: 1.07em;
  border: 0.07em solid $color-text-30;
  transition: $transition;
  padding: 0.36em 1.14em;

  i {
    position: relative;
    margin-left: 1.5em;
    display: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: $transition;
      width: 0.14em;
      height: 0.86em;
      background: $color-primary-base1-10;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &.active {
    i {
      display: inline;
    }
  }

  &:focus {
    background: $color-white;
    outline: 0.143em solid $color-info;
  }
}

@media (min-width: 1200px) {
  .btn {
    &-primary:hover {
      background: $color-primary-base1-10;
      border-color: $color-primary-base1-10;
      color: $color-white;

      i::after {
        border-color: $color-white;
      }
    }

    &-secondary:hover {
      color: $color-white;
      background: $color-primary-base1-10;
    }
  }

  .btn-link {
    &-primary:hover,
    &-secondary:hover {
      color: $color-primary-base1-10;

      &.right {
        // padding-right: 2.8125em;
        &::before,
        &::after {
          right: -0.5rem;
        }
      }
    }
  }

  .btn-search {
    .input {
      &:focus {
        background: transparent;
        border-color: transparent;
        max-width: 8.85em;
        outline: none;
      }
    }

    &.type-2 {
      .input {
        &:focus {
          max-width: 100%;
        }
      }
    }
  }

  .btn-search:hover {
    background: $color-primary-base1-10;
    border-color: $color-primary-base1-10;
    color: $color-white;

    .input {
      color: $color-white;
    }

    input[type="search"]::-webkit-input-placeholder {
      color: $color-white;
    }

    input[type="search"]:-moz-placeholder {
      color: $color-white;
    }

    input[type="search"]::-moz-placeholder {
      color: $color-white;
    }

    input[type="search"]:-ms-input-placeholder {
      color: $color-white;
    }

    button {
      svg path {
        fill: $color-white;
      }
    }
  }


  // .btn-plus {
  //   &-primary:hover {
  //     background: $color-primary-base1-10;
  //     border: 1px solid $color-primary-base1-10;

  //     &::before,
  //     &::after {
  //       background-color: $color-white;
  //     }
  //   }

  //   &-secondary:hover {
  //     background: $color-primary-base1-10;

  //     &::before,
  //     &::after {
  //       background-color: $color-white;
  //     }
  //   }
  // }

  .btn-close:hover {
    background-color: $color-primary-base1-10;


    &::before,
    &::after {
      background: $color-white;
    }
  }

  .tag:hover {
    color: $color-white;
    background: $color-primary-base1-10;
    border-color: $color-primary-base1-10;
  }

  .tag.active:hover {
    i {
      &::before,
      &::after {
        background: $color-white;
      }
    }
  }
}

@media (max-width: 1199px) {
  .btn-search {
    .input {
      max-width: 100%;
      &:focus {
        background: transparent;
        border-color: transparent;
        outline: none;
      }
    }
  }
}

@media (max-width: 991px) {
  .btn {
    font-size: 1.4rem;
  }

  .btn-link {
    font-size: 1.4rem;
  }
}

/**--------------------------------------------------------------------------------------------*/
/** SIDEBAR FOR DIVISION */
/**--------------------------------------------------------------------------------------------*/
.division {
  .btn-close {
    border: 0.1rem solid $color-primary-base2-20;
  }

  @media (min-width: 1200px) {
    .btn-close:hover {
      background-color: $color-primary-base2-20;
    }
  }
}