/*enterprise colors primary*/
$color-primary-base1-10: #fc1921;
$color-primary-base1-20: #fe444a;
$color-primary-base1-30: #e30513;

/*color gradient*/
$gradient: linear-gradient(90deg, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%);

/*colors secondary*/
$color-secondary-10:#ff7009;
$color-secondary-20:#64c2af;
$color-secondary-30:#78b81c;
$color-secondary-40:#ffb548;
$color-secondary-50:#a30361;
$color-secondary-60:#e43493;
$color-secondary-70:#008599;
$color-secondary-80:#e2f0ff;
$color-secondary-90:#c8d8e8;
$color-secondary-100:#1e2a3a;

/*text colors*/
$color-text-10:#1e2a3a;
$color-text-20:#59728b;
$color-text-30:#c8d8e8;
$color-text-40:#fff;

/*neutral colors*/
$color-white: #fff;
$color-gray-10:#f4f4f4;
$color-gray-20:#e0e0e0;
$color-gray-40:#a8a8a8;
$color-gray-60:#6f6f6f;
$color-gray-80:#393939;
$color-gray-100:#000;

/*aux colors*/
$color-error:#ec131e;
$color-error-inverse:#fa4d56;
$color-info:#0f35fe;
$color-info-inverse:#4589ff;
$color-success:#24a148;
$color-success-inverse:#42be65;
$color-warning:#f3c311;
$color-warning-inverse:#eed375;

/*division colors primary*/
$color-primary-base2-10: #0c2d83;
$color-primary-base2-20: #439bff;
$color-primary-base2-30: #09134b;

/*general*/
$transition: 0.25s ease-in;

@mixin centerAbsolute {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin beforeFull {
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@mixin imgCover {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

@mixin imgContain {
	height: 100%;
	left: 0;
	object-fit: contain;
	position: absolute;
	top: 0;
	width: 100%;
}
