//VARIABLES
@import "variables-mixins";

<<<<<<< HEAD
/**---*/

/** INFO BLOCK SLIDER */

/**---*/
=======
/**-----------------------------------------------------------------------*/

/** INFO BLOCK SLIDER */

/**-----------------------------------------------------------------------*/
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7

.info-block-item {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	padding: 6.4rem 9.63rem 6.4rem 0;
	position: relative;

	&.type-2 {
		padding: 6.4rem 0 6.4rem 9.63rem;
	}

	.tagline {
		color: $color-primary-base2-10;
		text-transform: uppercase;
	}

	.text {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		font-size: 3.6rem;
		font-weight: 400;
		-webkit-line-clamp: 6;
		line-height: 1.28em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.info-block-img {
	display: block;
	overflow: hidden;
	padding-bottom: 110%;
	position: relative;
	width: 100%;

	img {
		@include imgCover;
	}
}

.mask {
	display: block;
	height: auto;
	margin: 0 auto;
	mask-image: url("../img/image-mask.svg");
	mask-repeat: no-repeat;
	mask-size: 100%;
	max-width: 100%;
}

.decor-bg {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.decor-ring {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

.info-block-swiper {
	.swiper-button-prev,
	.swiper-button-next {
		left: -9.6rem;
	}

	.swiper-button-next {
		left: auto;
		right: -9.6rem;
	}

	.swiper-pagination {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.swiper-pagination-bullet {
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
	}
}

@media (max-width: 1199px) {
	.info-block-item {
		padding: 4.8rem 6.4rem 4.8rem 0;

<<<<<<< HEAD
		&.type-2 {
			padding: 4.8rem 0 4.8rem 6.4rem;
		}

=======
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
		.text {
			font-size: 2.4rem;
		}
	}

	.info-block-swiper {
		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
}

@media (max-width: 991px) {
	.info-block-item {
		padding: 4.8rem 2rem;
<<<<<<< HEAD

		&.type-2 {
			padding: 4.8rem 2rem;
		}
=======
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
	}

	.info-block-swiper {
		.swiper-button-wrapper {
			align-items: center;
			bottom: 0;
			display: flex;
			justify-content: center;
			left: 2rem;
			position: absolute;
			right: 2rem;
			width: calc(100% - 4rem);
		}

		.swiper-button-prev,
		.swiper-button-next {
			display: block;
			left: 0;
		}

		.swiper-button-next {
			left: auto;
			right: 0;
		}

		.swiper-pagination {
			bottom: 0;
			left: 0;
			position: relative;
			right: 0;
			transform: unset;
		}
	}
}
