//VARIABLES
@import "variables-mixins";

/**-----------------------------------------------------------------------*/

/** NEWS BLOCK */

/**-----------------------------------------------------------------------*/
.news-item {
	background-color: $color-white;
	border-radius: 0.25em 0.25em 0 0;
	box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: block;
	height: 100%;
	position: relative;

	&::before {
		background: $gradient;
		bottom: 0;
		content: "";
		height: 0.25em;
		left: 0;
		position: absolute;
		transition: $transition;
		width: 100%;
	}
}

.news-img {
	display: block;
	height: 0;
	padding-bottom: 56.1%;
	position: relative;
	transition: $transition;
	width: 100%;

	img {
		@include imgCover;
	}
}

.border-top {
	background-color: $color-secondary-80;
	height: 1.5em;
	position: relative;
	transition: $transition;
	width: 100%;
}

.news-img + .border-top {
	display: none;
}

.news-info {
	padding: 1.5em 1.5em 2.375em 1.5em;
	transition: $transition;

	.title {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.date {
	color: $color-text-20;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.5em;
}

.news-swiper {
	margin-left: -1rem;
	margin-right: -1rem;

	.swiper-container:not(.swiper-no-swiping) .swiper-wrapper {
		cursor: default;
	}

	.swiper-container {
		padding: 1rem;
	}

	.swiper-pagination {
		display: none;
	}
}

@media (min-width: 1200px) {
	.news-item:hover {

		&::before {
			height: 1em;
		}

		.news-img {
			transform: translateY(-0.5em);
		}

		.border-top {
			transform: translateY(-0.5em);
		}

		.news-info {
			transform: translateY(-0.5em);

			.title {
				color: $color-primary-base1-10;
			}
		}
	}
}

@media (max-width: 991px) {
	.date {
		font-size: 1.4rem;
		line-height: 1.57em;
	}

	.news-swiper {
		.swiper-button-wrapper {
			align-items: center;
			display: flex;
			justify-content: center;
			position: relative;

			> *:not(:last-child) {
				margin-right: 1.5em;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			position: relative;
			top: 0;
			transform: unset;
		}

		.swiper-button-prev {
			transform: scaleX(-1);
		}
	}
}

@media (max-width: 767px) {
	.news-info {
		.title {
			-webkit-line-clamp: 3;
		}
	}
}

/**--------------------------------------------------------------------------*/

/** NEWS BLOCK FOR DIVISION */

/**--------------------------------------------------------------------------*/
.division {
	.news-item {
		&::before {
			background: $color-primary-base2-20;
		}
	}
}
