//VARIABLES
@import "variables-mixins";

/**-----------------------------------------------------------------------*/
/** CARD SLIDER */
/**-----------------------------------------------------------------------*/
.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &>*:not(:last-child) {
    margin-right: 2.4rem;
  }
}

.card-item {
  position: relative;
  height: 100%;
  min-height: 36rem;
  background-color: $color-white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem 0.4rem 0 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.25em;
    background: $gradient;
    transition: $transition;
  }

  &.small {
    padding: 2.4rem;
    min-height: auto;
  }

  .large {
    padding: 4.8rem;
  }

  .tagline {
    font-weight: 900;
    text-transform: uppercase;
    color: $color-primary-base2-10;
    transition: $transition;
  }

  .title {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: $transition;
  }
}

.products-services {
  .card-item {
    min-height: 36rem;
  }
}

.card-img {
  position: relative;
  transition: $transition;
  max-width: 6.4rem;
  max-height: 6.4rem;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.card-swiper {
  .swiper-container {
    overflow: visible;
  }

  .swiper-button-prev,
  .swiper-button-next {
    left: -9.6rem;
  }

  .swiper-button-next {
    left: auto;
    right: -9.6rem;
  }

  .swiper-pagination {
    display: none;
  }
}

.decor-left {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 88.5rem;
  height: 130rem;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

@media (min-width: 1200px) {
  .card-item:hover {

    &::before {
      height: 1em;
    }

    .card-img {
      transform: translateY(-0.7em);
    }

    .tagline {
      transform: translateY(-0.7em);
    }

    .title {
      color: $color-primary-base1-30;
      transform: translateY(-0.7em);
    }

    .text {
      transform: translateY(-0.7em);
    }
  }
}

@media (max-width: 1400px) {
  .card-swiper {
    .swiper-button-prev,
    .swiper-button-next {
      left: -6.4rem;
    }

    .swiper-button-next {
      left: auto;
      right: -6.4rem;
    }
  }
}

@media (max-width: 1199px) {
  .card-swiper {
    .swiper-button-prev,
    .swiper-button-next {
      left: -2.4rem;
    }

    .swiper-button-next {
      left: auto;
      right: -2.4rem;
    }
  }

  .decor-left {
    width: 70rem;
  }
}

@media (max-width: 991px) {
  .card-swiper {
    padding-bottom: 4.8rem;

    .swiper-button-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;


      & > *:not(:last-child) {
        margin-right: 1.5em;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: relative;
      top: 0;
      transform: unset;
    }

    .swiper-button-prev,
    .swiper-button-next {
      left: 0;
    }

    .swiper-button-next {
      left: auto;
      right: 0;
    }

    .swiper-button-prev {
      transform: scaleX(-1);
    }
  }

  .decor-left {
    display: none;
  }
}

@media (max-width: 767px) {
  .card-swiper {
    .swiper-slide {
      width: auto;
    }
  }

  .card-item {
    max-width: 21.5rem;
  }
}

/**--------------------------------------------------------------------------------------------*/
/** CARD FOR DIVISION */
/**--------------------------------------------------------------------------------------------*/
.division {
  .card-item {
    &::before {
      background: $color-primary-base2-20;
    }
  }
}