//VARIABLES
@import "variables-mixins";
/**-----------------------------------------------------------------------*/
/** SEARCH RESULTS */
/**-----------------------------------------------------------------------*/
.search-results-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-item-total {
  font-size: 1.6rem;
  line-height: 1.5em;
  font-weight: 500;
  color: $color-text-10;
}

@media (max-width: 767px) {
  .select-item-total {
    font-size: 1.4rem;
    line-height: 1.57em;
  }
}

/**-----------------------------------------------------------------------*/
/** SEARCH CARDS */
/**-----------------------------------------------------------------------*/
.search-cards-wrapper {
  &>*:not(:last-child) {
    margin-bottom: 2.4rem;
  }
}

.search-card {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: $transition;
  background-color: $color-white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem 0.4rem 0 0;
  padding-bottom: 0.4rem;
  min-height: 37.2rem;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.25em;
    background: $gradient;
    transition: $transition;
  }
}

.search-card-img {
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  max-width: 28.57%;
  padding-bottom: 27.7%;
  transition: $transition;

  img {
    @include imgCover;
  }
}

.search-card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  padding: 6.4rem 4.8rem;
  transition: $transition;

  .tagline {
    font-size: 1.6rem;
    line-height: 1.25em;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $color-primary-base2-20;
  }
}

.decor-search {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  background-color: $color-secondary-80;
}

@media (min-width: 1200px) {
  .search-card:hover {

    &::before {
      height: 1em;
    }

    .search-card-img {
      transform: translateY(-0.7em);
    }

    .border-top {
      transform: translateY(-0.5em);
    }

    .search-card-info {
      transform: translateY(-0.5em);

      .title {
        color: $color-primary-base1-10;
      }
    }
  }
}

@media (max-width: 1600px) {
  .search-card {
    min-height: 27.6rem;
  }
}

@media (max-width: 1199px) {
  .search-card {
    min-height: auto;
  }

  .search-card-info {
    padding: 2.4rem;
  }
}

@media (max-width: 767px) {
  .search-cards-wrapper {
    &>*:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  .search-card {
    flex-direction: column;
  }

  .search-card-img {
    max-width: 100%;
    padding-bottom: 56.5%;
  }

  .search-card-info {
    .tagline {
      font-size: 1.4rem;
      line-height: 1.29em;
      letter-spacing: 0.02em;
    }
  }

  .decor-search {
    height: 97%;
  }
}

/**--------------------------------------------------------------------------------------------*/
/** SEARCH CARDS FOR DIVISION */
/**--------------------------------------------------------------------------------------------*/
.division {
  .search-card {
    &::before {
      background: $color-primary-base2-20;
    }
  }
}