//VARIABLES
@import "variables-mixins";
/**-----------------------------------------------------------------------*/
/** BANNERS */
/**-----------------------------------------------------------------------*/
.bg {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &.video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clip: rect(auto, auto, auto, auto);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    video {
      position: fixed;
      left: 50%;
      top: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      transform: translate(-50%, -50%);
    }
  }
}

.opacity:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.opacity-1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, $color-gray-100 1.31%, rgba(9, 19, 75, 0) 100%);
}

.parallax-bg {
  overflow: hidden;

  .bg {
    position: absolute;
    width: 100%;
    height: 130%;
    top: -10%;
  }
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner-inner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 42.3%;
  clip-path: ellipse(90% 60% at 50% 40%);

  &.type-2 {
    padding-bottom: 22.1%;

    .banner-content {
      text-align: center;
    }

    .bg {

      &.orange {
        background: linear-gradient(0deg, $color-secondary-10 1.31%, $color-secondary-40 100%);
      }

      &.pink {
        background: linear-gradient(0deg, $color-secondary-50 1.31%, $color-secondary-60 100%);
      }

      &.blue {
        background: linear-gradient(0deg, $color-primary-base2-10 1.31%, $color-primary-base2-20 100%);
      }

      &.turquoise {
        background: linear-gradient(0deg, $color-secondary-20 1.31%, $color-secondary-70 100%);
      }

    }
  }

  &.type-3 {
    padding-bottom: 43%;
    clip-path: ellipse(66% 62% at 50% 38%);

    .banner-content {
      text-align: center;
    }

    .bg {
      &.rellax {
        height: 103%;
      }
    }
  }

  &.type-4 {
    padding-bottom: 0;
    clip-path: unset;

    .banner-wrapper {
      position: relative;
      width: 100%;
      top: 0;
      bottom: 0;
      transform: unset;
      border-bottom: 0.1rem solid $color-secondary-80;

      .container {
        max-width: 100%;
      }
    }

    .banner-content {
      position: relative;
      height: 100%;
      padding-left: 11rem;
      padding-right: 12rem;

      h5,.h5 {
        color: $color-primary-base2-10;
      }
    }

    .decor-banner-1 {
      position: absolute;
      top: -4rem;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top right;
    }
  }
}

.banner-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 10;
  color: $color-white;
}

.banner-img {
  position: relative;
  padding-bottom: 76.63%;

  &.size-2 {
    padding-bottom: 93.63%;
  }
}

@media (max-width: 1199px) {
  .banner-inner {
    &.type-4 {
      .banner-content {
        padding-left: 5rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .banner-inner {
    &.type-2 {
      padding-bottom: 45%;
    }
    &.type-3 {
      padding-bottom: 45%;
    }
  }
}

@media (max-width: 767px) {
  .banner {
    overflow: visible;
  }

  .opacity {
    &::before {
      content: none;
    }
  }

  .banner-inner {
    height: 49.5rem;
    padding-bottom: 0;
    clip-path: ellipse(120% 60% at 50% 40%);

    &.type-2 {
      height: auto;
      padding-bottom: 80%;

      .banner-wrapper {
        top: 1.4rem;
        bottom: auto;
      }
    }

    &.type-3 {
      clip-path: ellipse(120% 60% at 50% 40%);
      height: 49.5rem;
      padding-bottom: 0;
    }

    &.type-4 {
      height: auto;

      .banner-wrapper {
        .container {
          max-width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }

      .banner-content {
        text-align: left;
        padding-left: 4.4rem;
        padding-right: 4.4rem;
      }
    }
  }

  .banner-wrapper {
    top: auto;
    bottom: 7.6rem;
    transform: translateY(0);
  }

  .banner-content {
    text-align: center;
  }

  .bg {
    img:not(.only-mob) {
      display: none;
    }
    .only-mob {
      display: block;
    }
  }
}

/**-----------------------------------------------------------------------*/
/** DECOR FOR MAIN BANNER */
/**-----------------------------------------------------------------------*/
.banner-decor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 55%;
  height: 100%;
}

@media (max-width: 767px) {
  .banner-decor {
    width: 110%;

    svg {
      width: 165%;
    }
  }
}

/**--------------------------------------------------------------------------------------------*/
/** DECOR FOR MAIN BANNER FOR DIVISION */
/**--------------------------------------------------------------------------------------------*/
.division {
  .banner-decor {

    svg path {
      fill: $color-primary-base2-30;
    }
  }
}