//VARIABLES
@import "variables-mixins";
/**-----------------------------------------------------------------------*/
/** SEARCH RESULTS */
/**-----------------------------------------------------------------------*/
.filters-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select-item-total {
  font-size: 1.6rem;
  line-height: 1.5em;
  font-weight: 500;
  color: $color-text-10;
}

.filter-date {
  position: relative;
  cursor: pointer;
  max-width: 100%;
  width: 37rem;

  .input,input {
    height: auto;
    padding: 0;
    border: none;
    border-radius: unset;

    &:focus {
      outline: unset;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: -1;
  }
}

@media (max-width: 991px) {
  .filters-wrapper {
    &.mobile-none {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .select-item-total {
    font-size: 1.4rem;
    line-height: 1.57em;
  }
}