//VARIABLES
@import "variables-mixins";

<<<<<<< HEAD
/**---*/

/** CARD SLIDER */

/**---*/
.products-services {
	&.mt-70 {
		margin-top: -7rem;
	}
}

.card-wrapper {
	align-items: center;
	display: flex;
	justify-content: flex-start;

	> *:not(:last-child) {
		margin-right: 2.4rem;
	}
}

.card-item {
	background-color: $color-white;
	border-radius: 0.4rem 0.4rem 0 0;
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
	height: 100%;
	min-height: 36rem;
	position: relative;

	&::before {
		background: $gradient;
		bottom: 0;
		content: "";
		height: 0.25em;
		left: 0;
		position: absolute;
		transition: $transition;
		width: 100%;
	}

	&.small {
		min-height: auto;
		padding: 2.4rem;
	}

	&.large {
		min-height: 44.6rem;
		padding: 4.8rem;
	}

	.tagline {
		color: $color-primary-base2-10;
		font-weight: 900;
		text-transform: uppercase;
		transition: $transition;
	}

	.title {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.text {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: $transition;
=======
/**-----------------------------------------------------------------------*/

/** CARD SLIDER */

/**-----------------------------------------------------------------------*/
.card-wrapper {
	align-items: center;
	display: flex;
	justify-content: flex-start;

	> *:not(:last-child) {
		margin-right: 2.4rem;
	}
}

.card-item {
	background-color: $color-white;
	border-radius: 0.4rem 0.4rem 0 0;
	box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
	height: 100%;
	min-height: 36rem;
	position: relative;

	&::before {
		background: $gradient;
		bottom: 0;
		content: "";
		height: 0.25em;
		left: 0;
		position: absolute;
		transition: $transition;
		width: 100%;
	}

	&.small {
		min-height: auto;
		padding: 2.4rem;
	}

	.large {
		padding: 4.8rem;
	}

	.tagline {
		color: $color-primary-base2-10;
		font-weight: 900;
		text-transform: uppercase;
		transition: $transition;
	}

	.title {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.text {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: $transition;
	}
}

.products-services {
	.card-item {
		min-height: 36rem;
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
	}
}

.card-img {
	height: 100%;
	max-height: 6.4rem;
	max-width: 6.4rem;
	position: relative;
	transition: $transition;
	width: 100%;

	img {
		height: auto;
		max-width: 100%;
		width: 100%;
	}
}

.card-swiper {
	.swiper-container {
		overflow: visible;
	}

	.swiper-button-prev,
	.swiper-button-next {
		left: -9.6rem;
	}

	.swiper-button-next {
		left: auto;
		right: -9.6rem;
	}

	.swiper-pagination {
		display: none;
	}
<<<<<<< HEAD

	&.type-2 {
		.swiper-container {
			overflow: hidden;
		}
	}
=======
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
}

.decor-left {
	background-repeat: no-repeat;
	background-size: contain;
	height: 130rem;
	left: 0;
	position: absolute;
	top: -3rem;
	width: 88.5rem;
	z-index: -1;
}

@media (min-width: 1200px) {
	.card-item:hover {
<<<<<<< HEAD
=======

>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
		&::before {
			height: 1em;
		}

		.card-img {
			transform: translateY(-0.7em);
		}

		.tagline {
			transform: translateY(-0.7em);
		}

		.title {
			color: $color-primary-base1-30;
			transform: translateY(-0.7em);
		}

		.text {
			transform: translateY(-0.7em);
		}
	}
}

@media (max-width: 1600px) {
	.card-item {
		max-width: 38.4rem;

		&.small {
			max-width: 28.2rem;
		}
	}
}

@media (max-width: 1400px) {
	.card-swiper {
		.swiper-button-prev,
		.swiper-button-next {
			left: -6.4rem;
		}

		.swiper-button-next {
			left: auto;
			right: -6.4rem;
		}
	}
}

@media (max-width: 1199px) {
<<<<<<< HEAD
	.products-services {
		&.mt-70 {
			margin-top: -2rem;
		}
	}

	.card-item {
		&.large {
			min-height: 39.8rem;
		}
	}

=======
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
	.card-swiper {
		.swiper-button-prev,
		.swiper-button-next {
			left: -2.4rem;
		}

		.swiper-button-next {
			left: auto;
			right: -2.4rem;
		}
	}

	.decor-left {
		width: 70rem;
	}
}

@media (max-width: 991px) {
	.card-swiper {
		padding-bottom: 4.8rem;

		.swiper-button-wrapper {
			align-items: center;
			bottom: 0;
			display: flex;
			justify-content: center;
			position: absolute;
			width: 100%;

<<<<<<< HEAD
			>*:not(:last-child) {
=======
			> *:not(:last-child) {
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
				margin-right: 1.5em;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			left: 0;
			position: relative;
			top: 0;
			transform: unset;
		}

		.swiper-button-next {
			left: auto;
			right: 0;
		}

		.swiper-button-prev {
			transform: scaleX(-1);
		}
	}

	.decor-left {
		display: none;
	}
}

@media (max-width: 767px) {
	.card-swiper {
		.swiper-slide {
			width: auto;
		}
<<<<<<< HEAD

		&.type-2 {
			.swiper-container {
				overflow: visible;
			}
		}
=======
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
	}

	.card-item {
		max-width: 21.5rem;
<<<<<<< HEAD

		&.large {
			max-width: 28.8rem;
			padding: 2.4rem;
		}
	}
}

/**---*/

/** CARD FOR DIVISION */

/**---*/
=======
	}
}

/**--------------------------------------------------------------------------*/

/** CARD FOR DIVISION */

/**--------------------------------------------------------------------------*/
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
.division {
	.card-item {
		&::before {
			background: $color-primary-base2-20;
		}
	}
<<<<<<< HEAD

	.products-services {
		position: relative;

		&::before {
			background-color: $color-secondary-80;
			clip-path: ellipse(90% 60% at 50% 40%);
			content: "";
			height: 200%;
			left: 0;
			position: absolute;
			top: -35%;
			width: 100%;
			z-index: -1;
		}
	}
}

@media (max-width: 767px) {
	.division {
		.products-services {
			&::before {
				clip-path: ellipse(170% 60% at 50% 40%);
				height: 250%;
			}
		}
	}
=======
>>>>>>> 6e0ca8dd15ffcaedab7bbd6db31f3c34353207d7
}
