//VARIABLES
@import "variables-mixins";

/**-----------------------------------------------------------------------*/
/** STAFF CARD */
/**-----------------------------------------------------------------------*/
.staff-card-inner {
  position: relative;
  width: 100%;
}

.staff-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.staff-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-width: calc(50% - 1.2rem);
  transition: $transition;
  background-color: $color-white;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem 0.4rem 0 0;
  padding-bottom: 0.4rem;
  margin-right: 2.4rem;
  margin-bottom: 2.4rem;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 0.25em;
    background: $gradient;
    transition: $transition;
  }
}

.staff-card-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: $transition;
  border-radius: 0.4rem 0.4rem 0 0;
  padding-bottom: 56.035%;

  img {
    @include imgCover;
  }
}

.staff-card-info {
  position: relative;
  transition: $transition;
  padding: 2.4rem 2.4rem 4.8rem 2.4rem;
  text-align: left;
}

.decor-staff {
  position: absolute;
  top: 15rem;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100% - 15rem);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  background-color: $color-secondary-80;
  margin-top: -0.1rem;
}

@media (min-width: 1200px) {
  .staff-card:hover {

    &::before {
      height: 1em;
    }

    .staff-card-img {
      transform: translateY(-0.5em);
    }

    .staff-card-info {
      transform: translateY(-0.5em);

      .title {
        color: $color-primary-base1-10;
      }
    }
  }
}

@media (max-width: 1199px) {
  .staff-card-info {
    padding: 2.4rem;
  }
}

@media (max-width: 767px) {
  .staff-card {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 1.6rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .decor-staff {
    top: 30rem;
    height: calc(100% - 30rem);
    margin-top: 0;
  }
}

/**--------------------------------------------------------------------------------------------*/
/** STAFF CARD FOR DIVISION */
/**--------------------------------------------------------------------------------------------*/
.division {
  .staff-card {
    &::before {
      background: $color-primary-base2-20;
    }
  }
}

/**--------------------------------------------------------------------------------------------*/
/** DIVIDER */
/**--------------------------------------------------------------------------------------------*/
.divider {
  position: relative;
  width: 100%;
  height: 0.1rem;
  background-color: $color-secondary-90;
}