/**------------------------*/

/*****     FONTS     *****/

/**------------------------*/

@font-face {
	font-display: swap;
	font-family: "DM Sans", sans-serif;
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/DMSans-Regular.eot");
	src:
		url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/DMSans-Regular.woff2") format("woff2"),
		url("../fonts/DMSans-Regular.woff") format("woff"),
		url("../fonts/DMSans-Regular.ttf") format("truetype");
}

@font-face {
	font-display: swap;
	font-family: "DM Sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	src: url("../fonts/DMSans-Medium.eot");
	src:
		url("../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/DMSans-Medium.woff2") format("woff2"),
		url("../fonts/DMSans-Medium.woff") format("woff"),
		url("../fonts/DMSans-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "DM Sans", sans-serif;
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/DMSans-Bold.eot");
	src:
		url("../fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/DMSans-Bold.woff2") format("woff2"),
		url("../fonts/DMSans-Bold.woff") format("woff"),
		url("../fonts/DMSans-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Avenir LTPro-Black";
	src: url("../fonts/Avenir+LTPro-Black.eot");
	src:
		url("../fonts/Avenir+LTPro-Black.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Avenir+LTPro-Black.ttf") format("truetype"),
		url("../fonts/Avenir+LTPro-Black.woff") format("woff"),
		url("../fonts/Avenir+LTPro-Black.woff2") format("woff2");
}

@font-face {
	font-family: "Avenir LTPro-Heavy";
	src: url("../fonts/Avenir+LTPro-Heavy.eot");
	src:
		url("../fonts/Avenir+LTPro-Heavy.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Avenir+LTPro-Heavy.ttf") format("truetype"),
		url("../fonts/Avenir+LTPro-Heavy.woff") format("woff"),
		url("../fonts/Avenir+LTPro-Heavy.woff2") format("woff2");
}
