# Application
!web/app/mu-plugins/.gitkeep
!web/app/plugins/.gitkeep
web/app/mu-plugins/*
!web/app/mu-plugins/bedrock-autoloader.php
!web/app/mu-plugins/disallow-indexing.php
!web/app/mu-plugins/register-theme-directory.php
!web/app/mu-plugins/wpo365-login-intranet
!web/app/mu-plugins/mgm-set-site-id.php
web/app/plugins/*
!web/app/plugins/windows-azure-storage
!web/app/plugins/distributor
!web/app/plugins/gravityforms
!web/app/plugins/publishpress-pro
!web/app/plugins/seo-by-rank-math-pro
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/themes/boilerplate-theme/dist
web/app/themes/boilerplate-theme/dist/*
# WordPress
# web/wp
!web/.htaccess
# Dotenv
.env
.env.*
!.env.example
# Composer
/vendor
# WP-CLI
wp-cli.local.yml
web/app/db.php