/**------------------------*/
/** ACCORDION */
/**------------------------*/
.accordion { position: relative; z-index: 1; }

.accordion > *:not(:last-child) { margin-bottom: 1rem; }

.accordion-item { border-top: 0.1rem solid #c8d8e8; position: relative; }

.accordion-item:last-of-type { border-bottom: 0.1rem solid #c8d8e8; }

.accordion-title { color: #1e2a3a; cursor: pointer; font-size: 2.4rem; font-weight: 700; letter-spacing: -0.2rem; line-height: 1.25em; padding: 0.75em 1.67em 0.5em 0.67em; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.accordion-title::before { border-bottom: 0.083em solid #1e2a3a; border-left: 0.083em solid #1e2a3a; content: ""; height: 0.42em; position: absolute; right: 0.83em; top: 50%; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 0.42em; }

.accordion-title.active { color: #1e2a3a; }

.accordion-title.active::before { border-color: #1e2a3a; -webkit-transform: rotate(-225deg); -ms-transform: rotate(-225deg); transform: rotate(-225deg); }

.accordion-inner { display: none; padding: 1em 1em 1.5em 1em; }

@media (min-width: 1200px) { .accordion-item:hover .accordion-title { color: #fc1921; }
  .accordion-item:hover .accordion-title::before { border-color: #fc1921; } }

@media (max-width: 1199px) { .accordion-title { font-size: 1.6rem; letter-spacing: 0; } }
