/**-------------------------*/
/** DOWNLOAD CARD */
/**-------------------------*/
.download-card-inner { position: relative; width: 100%; }

.download-card-inner::before { background-color: #c8d8e8; bottom: 3.3rem; content: ""; height: 0.1rem; left: 0; position: absolute; top: auto; width: 100%; }

.download-card-wrapper > * { margin-bottom: 2.4rem; }

.download-card { -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; border-radius: 0.4rem 0.4rem 0 0; -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2); box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2); cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; overflow: hidden; padding-bottom: 0.4rem; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; }

.download-card::before { background: -webkit-gradient(linear, left top, right top, color-stop(1.28%, #ef3e42), color-stop(33.67%, #f68924), color-stop(65.04%, #87bd40), color-stop(96.91%, #53c4c9)); background: -o-linear-gradient(left, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%); background: linear-gradient(90deg, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%); bottom: 0; content: ""; height: 0.25em; left: 0; position: absolute; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; z-index: 2; }

.download-card-img { background-color: #e2f0ff; border-radius: 0.4rem 0 0 0; height: 100%; max-width: 15.1%; padding-bottom: 23.9%; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; z-index: 1; }

.download-card-img img { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); max-height: 35px; max-width: 32px; }

.download-card-info { padding: 4.8rem; position: relative; text-align: left; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.form-assays .container { position: relative; }

.decor-form-assays { background-color: #e2f0ff; background-position: top center; background-repeat: no-repeat; background-size: 100%; bottom: 0; height: calc(100% - 14rem); left: 0; position: absolute; top: 14rem; width: 100%; z-index: -1; }

.decor-form-assays.type-2 { height: calc(100% - 31rem); top: 29rem; }

@media (min-width: 1200px) { .download-card:hover::before { height: 1em; }
  .download-card:hover .download-card-img { -webkit-transform: translateY(-0.7em); -ms-transform: translateY(-0.7em); transform: translateY(-0.7em); }
  .download-card:hover .download-card-info { -webkit-transform: translateY(-0.5em); -ms-transform: translateY(-0.5em); transform: translateY(-0.5em); }
  .download-card:hover .download-card-info .title { color: #fc1921; } }

@media (max-width: 1600px) { .decor-form-assays.type-2 { height: calc(100% - 42rem); top: 39rem; } }

@media (max-width: 1199px) { .download-card-info { padding: 2.4rem; } }

@media (max-width: 767px) { .download-card { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .download-card-img { background-color: transparent; max-width: 100%; padding: 2.4rem 2.4rem 1.6rem 2.4rem; padding-bottom: 0; }
  .download-card-img img { display: block; left: unset; position: relative; top: unset; -webkit-transform: unset; -ms-transform: unset; transform: unset; }
  .download-card-info { padding: 0 2.4rem 2.4rem 2.4rem; width: 100%; }
  .decor-form-assays { height: calc(100% - 26rem); top: 26rem; }
  .decor-form-assays.type-2 { height: calc(100% - 51rem); top: 48rem; } }

/**-------------------------*/
/** DOWNLOAD CARD FOR DIVISION */
/**-------------------------*/
.division .download-card::before { background: #439bff; }

/**-------------------------*/
/** EXPAND MORE BUTTON */
/**-------------------------*/
.expand-more { background: #1e2a3a; border-radius: 0 0 0.4rem 0.4rem; color: #fff; cursor: pointer; display: inline-block; font-size: 1.8rem; font-weight: 700; line-height: 1.44em; padding: 0.22em 2.6em; position: relative; vertical-align: middle; }

.expand-block { display: block; position: relative; text-align: center; }

.expand-block .download-card { display: none; }

.expand-block .download-card.active { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
