/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/*01 - RESET*/
/*02 - GLOBAL SETTINGS*/
/*03 - TYPOGRAPHY*/
/*04 - BUTTONS*/
/*05 - HEADER*/
/*06 - TOP BANNER CONTENT */
/*07 - OTHER TOP*/
/*enterprise colors primary*/
/*color gradient*/
/*colors secondary*/
/*text colors*/
/*neutral colors*/
/*aux colors*/
/*division colors primary*/
/*general*/
/**--------------------------------------------------------------------------------*/
/**     CUSTOM PRELOADER     */
/**--------------------------------------------------------------------------------*/
#loader-wrapper { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; background-color: #fff; -webkit-animation: loader 1.3s linear; animation: loader 1.3s linear; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

@-webkit-keyframes loader { 0% { opacity: 1; }
  70% { opacity: 1; }
  99% { opacity: 0; }
  100% { display: none;
    visibility: hidden;
    z-index: -10;
    opacity: 0; } }

@keyframes loader { 0% { opacity: 1; }
  70% { opacity: 1; }
  99% { opacity: 0; }
  100% { display: none;
    visibility: hidden;
    z-index: -10;
    opacity: 0; } }

/**--------------------------------------------------------------------------------*/
/*****     FONTS     *****/
/**--------------------------------------------------------------------------------*/
@font-face { font-family: 'Avenir'; src: url("../fonts/Avenir Light.eot"); src: url("../fonts/Avenir Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Light.woff2") format("woff2"), url("../fonts/Avenir Light.woff") format("woff"), url("../fonts/Avenir Light.ttf") format("truetype"); font-weight: 300; font-style: normal; font-display: swap; }

@font-face { font-family: 'Avenir'; src: url("../fonts/Avenir Regular.eot"); src: url("../fonts/Avenir Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Regular.woff2") format("woff2"), url("../fonts/Avenir Regular.woff") format("woff"), url("../fonts/Avenir Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'Avenir'; src: url("../fonts/Avenir Medium.eot"); src: url("../fonts/Avenir Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Medium.woff2") format("woff2"), url("../fonts/Avenir Medium.woff") format("woff"), url("../fonts/Avenir Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'Avenir'; src: url("../fonts/Avenir Heavy.eot"); src: url("../fonts/Avenir Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Heavy.woff2") format("woff2"), url("../fonts/Avenir Heavy.woff") format("woff"), url("../fonts/Avenir Heavy.ttf") format("truetype"); font-weight: 800; font-style: normal; }

@font-face { font-family: 'Avenir'; src: url("../fonts/Avenir Black.eot"); src: url("../fonts/Avenir Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Avenir Black.woff2") format("woff2"), url("../fonts/Avenir Black.woff") format("woff"), url("../fonts/Avenir Black.ttf") format("truetype"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'DM Sans', sans-serif; src: url("../fonts/DMSans-Regular.eot"); src: url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Regular.woff2") format("woff2"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; font-display: swap; }

@font-face { font-family: 'DM Sans', sans-serif; src: url("../fonts/DMSans-Medium.eot"); src: url("../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Medium.woff2") format("woff2"), url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; font-display: swap; }

@font-face { font-family: 'DM Sans', sans-serif; src: url("../fonts/DMSans-Bold.eot"); src: url("../fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.ttf") format("truetype"); font-weight: 700; font-style: normal; }

/**--------------------------------------------------------------------------------*/
/**     RESET     */
/**--------------------------------------------------------------------------------*/
:root { --track-color: #FC1921; }

.division { --track-color: #439BFF; }

html { overflow-y: scroll; }

*, *:before, *:after { -webkit-box-sizing: border-box; box-sizing: border-box; }

* { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: none; }

.clear { clear: both; overflow: hidden; height: 0; font-size: 0; display: block; }

html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar { width: 6px; height: 6px; }

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track { background: #e2e2e2; }

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb { background: var(--track-color); border-radius: 10px; }

:focus, :hover, :active, :visited { outline: none; }

button { background: none; }

a { display: inline-block; text-decoration: none; cursor: pointer; outline: none; color: inherit; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

@media (max-width: 767px) { html::-webkit-scrollbar, html *::-webkit-scrollbar { width: 3px; height: 3px; }
  html::-webkit-scrollbar-track, html *::-webkit-scrollbar-track { background: #FFF; }
  html::-webkit-scrollbar-thumb, html *::-webkit-scrollbar-thumb { background: var(--track-color); } }

/**--------------------------------------------------------------------------------*/
/**     GLOBAL SETTINGS     */
/**--------------------------------------------------------------------------------*/
/* main */
html { height: 100%; -webkit-font-smoothing: antialiased; }

body { height: 100%; overflow: hidden; }

#content-block { overflow: hidden; position: relative; min-height: 100vh; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }

footer { margin-top: auto; }

.overflow-hidden { overflow: hidden; }

html.overflow-menu body { overflow: hidden; max-height: 100vh; top: 0; left: 0; right: 0; bottom: 0; position: fixed; }

html.overflow-hidden body { overflow: hidden; }

.swiper-slide:not(:first-child) { display: none; }

html.keyboard-focus :focus { outline: auto; }

.bg-image { background-size: cover; background-repeat: no-repeat; background-position: center center; }

.bg-full { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; }

.full-size { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.img { display: inline-block; max-width: 100%; max-height: 100%; vertical-align: top; }

.clearfix { position: relative; }

.clearfix:after { display: block; content: ""; clear: both; }

.cell-view { display: table-cell; vertical-align: middle; width: 10000px; }

section, .section { position: relative; }

img[data-i-src], [data-bg] { -webkit-transition: opacity 0.25s; -o-transition: opacity 0.25s; transition: opacity 0.25s; opacity: 0; }

img[data-i-src].imgLoaded, [data-bg].bgLoaded { opacity: 1; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

a { cursor: pointer; }

/* bootstrap extensions */
.embed-responsive { position: relative; display: block; height: 0; padding: 0; overflow: hidden; }

.embed-responsive-16by9 { padding-bottom: 56.25%; }

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video { position: absolute; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; border: 0; }

@media (min-width: 1601px) { .container { width: 100%; max-width: 1750px; } }

@media (min-width: 1200px) and (max-width: 1600px) { .container { width: 100%; max-width: 1200px; } }

/* spacers */
[class*="spacer"] { clear: both; width: 100% !important; }

.spacer-0 { height: 0; }

.spacer-2 { height: 0.2rem; }

.spacer-4 { height: 0.4rem; }

.spacer-8 { height: 0.8rem; }

.spacer-12 { height: 1.2rem; }

.spacer-16 { height: 1.6rem; }

.spacer-24 { height: 2.4rem; }

.spacer-32 { height: 3.2rem; }

.spacer-40 { height: 4rem; }

.spacer-48 { height: 4.8rem; }

.spacer-64 { height: 6.4rem; }

.spacer-96 { height: 9.6rem; }

.spacer-120 { height: 12rem; }

@media (max-width: 991px) { .spacer-xs-0 { height: 0; }
  .spacer-xs-2 { height: 0.2rem; }
  .spacer-xs-4 { height: 0.4rem; }
  .spacer-xs-8 { height: 0.8rem; }
  .spacer-xs-12 { height: 1.2rem; }
  .spacer-xs-16 { height: 1.6rem; }
  .spacer-xs-24 { height: 2.4rem; }
  .spacer-xs-32 { height: 3.2rem; }
  .spacer-xs-40 { height: 4rem; }
  .spacer-xs-48 { height: 4.8rem; }
  .spacer-xs-64 { height: 6.4rem; }
  .spacer-xs-96 { height: 9.6rem; }
  .spacer-xs-120 { height: 12rem; } }

/* breakpoints */
/**--------------------------------------------------------------------------------*/
/*****     TYPOGRAPHY     *****/
/**--------------------------------------------------------------------------------*/
:root { font-size: 62.5%; }

body { font-family: "DM Sans", sans-serif; font-size: 1.6rem; line-height: 1.5em; font-weight: normal; color: #1E2A3A; }

strong, b { font-weight: 600; }

a { color: inherit; text-decoration: none; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

a:hover { text-decoration: none; }

ul, ol { list-style: none; }

/*****     TEXT STYLES     *****/
.text { font-size: 1.6rem; line-height: 1.5em; font-weight: 400; color: #1E2A3A; }

.text ul li { position: relative; font-size: 1.6rem; line-height: 1.5em; padding-left: 1.25em; }

.text ul li:last-child { bottom: 0; }

.text ul li::before { content: ""; position: absolute; top: 0.5em; left: 0; width: 0.4375em; height: 0.4375em; border-radius: 100%; background: #1E2A3A; }

.text ol { counter-reset: number; }

.text ol li { position: relative; font-size: 1.6rem; line-height: 1.5em; font-weight: 400; padding-left: 1.875em; }

.text ol li:last-child { bottom: 0; }

.text ol li::before { content: counters(number, ".", decimal); counter-increment: number; position: absolute; left: 0; top: 0; font-weight: 700; }

.text ol li + li { margin-top: 0.8em; }

.text a { font-size: inherit; line-height: inherit; position: relative; font-weight: 400; color: #0F35FE; cursor: pointer; white-space: nowrap; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.text a::before { content: ""; position: absolute; bottom: 0.25em; left: auto; right: 0; height: 1px; width: 100%; background: #0F35FE; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.text > blockquote { position: relative; font-size: 3.6rem; line-height: 1.28em; font-weight: 400; color: #1E2A3A; border-top: 0.11em solid #439BFF; border-bottom: 0.11em solid #439BFF; padding: 3.5em 0 1.3em 0; }

.text > blockquote h5 { font-size: 0.67em; font-weight: 700; }

.text > blockquote p { font-size: 0.44em; line-height: 1.5em; color: #59728B; }

.text > blockquote::before { content: ""; position: absolute; top: 1.5em; left: 0; width: 1.17em; height: 0.94em; background-image: url(../img/icons/quotes.svg); background-repeat: no-repeat; background-position: center; background-size: contain; }

.text-xl { font-size: 2rem; line-height: 1.5em; font-weight: 400; color: #1E2A3A; }

.text-lg { font-size: 1.8rem; line-height: 1.44em; font-weight: 400; color: #1E2A3A; }

.text-sm { font-size: 1.4rem; line-height: 1.57em; font-weight: 400; color: #1E2A3A; }

.title.light, .text.light, .text-xl.light, .text-lg.light, .text-sm.light { color: #FFF; }

.text > *:not(:last-child) { margin-bottom: 15px; }

.text-truncate { white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; }

.text-cut-2 { display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.text-cut-3 { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.text-cut-4 { display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-10 { color: #1E2A3A; }

.text-20 { color: #59728B; }

.text-30 { color: #C8D8E8; }

.text-40 { color: #FFFFFF; }

/*****     TITLE STYLES     *****/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { color: #1E2A3A; }

h1, .h1 { font-size: 5.4rem; line-height: 1.22em; letter-spacing: -0.05em; }

h2, .h2 { font-size: 4.8rem; line-height: 1.17em; letter-spacing: -0.06em; }

h3, .h3 { font-size: 3.6rem; line-height: 1.28em; letter-spacing: -0.02em; }

h4, .h4 { font-size: 3rem; line-height: 1.2em; }

h5, .h5 { font-size: 2.4rem; line-height: 1.25em; letter-spacing: -0.02em; }

h6, .h6 { font-size: 1.6rem; line-height: 1.25em; letter-spacing: 0.06em; }

.title { font-family: "Avenir"; color: #1E2A3A; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.title.fw-300 { font-weight: 300; }

.title.fw-400 { font-weight: 400; }

.title.fw-500 { font-weight: 500; }

.title.fw-600 { font-weight: 600; }

.title.fw-700 { font-weight: 700; }

.title.fw-800 { font-weight: 800; }

.title.fw-900 { font-weight: 900; }

@media (min-width: 1200px) { .text a:hover:before { width: 0; right: auto; left: 0; } }

@media (max-width: 1600px) { h1, .h1 { font-size: 4.8rem; }
  h2, .h2 { font-size: 4rem; }
  h3, .h3 { font-size: 3rem; }
  h4, .h4 { font-size: 2.4rem; }
  h5, .h5 { font-size: 2rem; } }

@media (max-width: 1199px) { h1, .h1 { font-size: 4rem; }
  h2, .h2 { font-size: 3.6rem; }
  h3, .h3 { font-size: 2.4rem; }
  h4, .h4 { font-size: 2.2rem; }
  h5, .h5 { font-size: 1.8rem; }
  .text > blockquote { font-size: 2.4rem; }
  .text-xl { font-size: 1.8rem; }
  .text-lg { font-size: 1.6rem; } }

@media (max-width: 767px) { h1, .h1 { font-size: 3.6rem; }
  h2, .h2 { font-size: 3rem; }
  .text > blockquote { font-size: 2rem; }
  .text-xl { font-size: 1.6rem; } }

/**--------------------------------------------------------------------------------------------*/
/** HEADER */
/**--------------------------------------------------------------------------------------------*/
header { position: fixed; top: 0; width: 100%; height: 15rem; z-index: 101; -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: #FFF; }

header .logo { position: relative; z-index: 100; display: inline-block; width: 100%; height: auto; max-width: 46rem; line-height: 0; }

header .logo img { width: 100%; height: auto; }

header .logo img.mobile { display: none; }

header + * { padding-top: 15rem; }

.header-inner { position: relative; height: inherit; background-color: #FFF; border-bottom: 0.0625em solid #C8D8E8; }

.header-inner::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 0.25em; background: -webkit-gradient(linear, left top, right top, color-stop(1.28%, #EF3E42), color-stop(33.67%, #F68924), color-stop(65.04%, #87BD40), color-stop(96.91%, #53C4C9)); background: -o-linear-gradient(left, #EF3E42 1.28%, #F68924 33.67%, #87BD40 65.04%, #53C4C9 96.91%); background: linear-gradient(90deg, #EF3E42 1.28%, #F68924 33.67%, #87BD40 65.04%, #53C4C9 96.91%); }

.header-top { position: relative; border-bottom: 0.0625em solid #E2F0FF; padding: 1.25em 1em 1em; }

.top-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.top-menu .btn-wrapper > *:not(:last-child) { margin-right: 0.5em; }

.top-menu.mobile { display: none; }

.header-bottom { padding: 1em; }

.mobile-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.toggle-block { position: relative; }

.nav-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.nav-list li { position: relative; cursor: pointer; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; font-size: 1.4rem; line-height: 1.57em; font-weight: 700; color: #1E2A3A; margin-right: 1.71em; padding: 0.65em 0; }

.nav-list li > a { color: #1E2A3A; }

.nav-list li:last-child { margin-right: 0; }

.mobile-button-wrapper { position: relative; display: none; width: 3em; height: 3em; background-color: #000000; border-radius: 100%; -ms-flex-negative: 0; flex-shrink: 0; }

.mobile-button { will-change: transform; display: none; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 1.8rem; height: 1rem; cursor: pointer; z-index: 101; }

.mobile-button span { display: block; position: absolute; top: 50%; left: 0; width: 100%; height: 0.15rem; margin-top: 0; background: #FFF; }

.mobile-button::after, .mobile-button::before { content: ""; position: absolute; display: block; top: 50%; left: 0; width: 100%; height: 0.15rem; background: #FFF; margin-top: 0.6rem; }

.mobile-button::before { margin-top: -0.6rem; }

.mobile-button.active span { -webkit-transform: translateX(3rem); -ms-transform: translateX(3rem); transform: translateX(3rem); opacity: 0; }

.mobile-button.active::after { -webkit-transform: translateY(-0.6rem) rotate(-45deg); -ms-transform: translateY(-0.6rem) rotate(-45deg); transform: translateY(-0.6rem) rotate(-45deg); -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; }

.mobile-button.active::before { -webkit-transform: translateY(0.6rem) rotate(45deg); -ms-transform: translateY(0.6rem) rotate(45deg); transform: translateY(0.6rem) rotate(45deg); -webkit-transform-origin: center center; -ms-transform-origin: center center; transform-origin: center center; }

@media (min-width: 1200px) { .nav-list li a:hover { color: #FC1921; } }

@media (max-width: 1400px) { header .logo { max-width: 35rem; } }

@media (max-width: 1199px) { header { height: 8rem; }
  header .logo { max-width: 25rem; }
  header .logo img { display: none; }
  header .logo img.mobile { display: block; }
  header + * { padding-top: 8rem; }
  .header-inner { border-bottom: none; display: block; }
  .header-top { border-bottom: none; padding: 0; }
  .top-menu { display: none; }
  .top-menu .btn-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .top-menu .btn-wrapper > *:not(:last-child) { margin-right: 0; margin-bottom: 1em; }
  .top-menu.mobile { display: block; }
  .top-menu > .nav-list { margin-bottom: 4rem; }
  .toggle-block { position: absolute; top: 8rem; right: 0; -webkit-transform: translateX(100%); -ms-transform: translateX(100%); transform: translateX(100%); display: block; width: 100%; height: calc(100vh - 8rem); background: #fff; text-align: left; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; z-index: 101; overflow: auto; padding: 0 2.75em; padding-bottom: 13rem; }
  .toggle-block > .nav-wrapper { position: relative; padding: 2em 0; margin-bottom: 4rem; }
  .toggle-block > .nav-wrapper::before, .toggle-block > .nav-wrapper::after { content: ""; position: absolute; left: -2.75em; width: calc(100% + 5.5em); height: 0.0625em; background: #C8D8E8; }
  .toggle-block > .nav-wrapper::before { top: 0; }
  .toggle-block > .nav-wrapper::after { bottom: 0; }
  .toggle-block > .nav-wrapper > .nav-list { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
  .toggle-block > .nav-wrapper > .nav-list > li { width: 100%; font-size: 2.2rem; line-height: 1.18em; margin-right: 0; text-align: left; }
  .toggle-block > .nav-wrapper > .nav-list > li::after { top: calc(50% - 0.35em); -webkit-transform: rotate(-45deg) translateY(-50%); -ms-transform: rotate(-45deg) translateY(-50%); transform: rotate(-45deg) translateY(-50%); }
  .toggle-block.open { -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); }
  .toggle-block.open.remove-overflow { overflow: hidden; }
  .nav-list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
  .nav-list > li { margin-right: 0; padding: 0 0 0.65em 0; }
  .mobile-button-wrapper { display: block; }
  .mobile-button { display: block; } }

@media (max-width: 767px) { .top-menu .btn-wrapper > * { width: 100%; text-align: left; }
  .toggle-block { width: 100%; }
  .nav-list { -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

/**--------------------------------------------------------------------------------------------*/
/** DROPMENU */
/**--------------------------------------------------------------------------------------------*/
.dropdown-item { position: relative; padding: 0.65em 1.3em 0.65em 0; margin-right: 1.95em; }

.dropdown-item:last-child { margin-right: 0; }

.dropdown-item::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 0; padding-bottom: 35%; }

.dropdown-item .dropdown-btn { position: relative; display: inline-block; margin-left: 0.71em; width: 0.86em; height: 0.71em; }

.dropdown-item .dropdown-btn::after { content: ""; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%) rotate(45deg); -ms-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); z-index: 1; height: 0.5em; width: 0.5em; border-right: 0.125em solid #FC1921; border-bottom: 0.125em solid #FC1921; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.dropdown-item .dropdown { width: 100%; position: fixed; top: 0; left: 0; right: 0; z-index: -1; opacity: 0; visibility: hidden; background: #000000; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; -webkit-transform: translateY(-100%); -ms-transform: translateY(-100%); transform: translateY(-100%); padding: 4.75em 0; padding-bottom: 13rem; }

.dropdown-item .dropdown::after { content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 0.29em; background: -webkit-gradient(linear, left top, right top, color-stop(1.28%, #EF3E42), color-stop(33.67%, #F68924), color-stop(65.04%, #87BD40), color-stop(96.91%, #53C4C9)); background: -o-linear-gradient(left, #EF3E42 1.28%, #F68924 33.67%, #87BD40 65.04%, #53C4C9 96.91%); background: linear-gradient(90deg, #EF3E42 1.28%, #F68924 33.67%, #87BD40 65.04%, #53C4C9 96.91%); }

.dropdown-item .dropdown .dropdown-close { display: none; }

.dropdown-item .container { max-width: 100%; padding: 0 3em; }

.dropdown-item .dropdown-info { position: relative; }

.dropdown-item .dropdown-info .btn-link { font-family: "Avenir"; font-size: 3rem; line-height: 1.2em; font-weight: 800; text-align: left; margin-bottom: 0.53em; display: inline-block; }

.dropdown-item .dropdown-info .btn-link::before, .dropdown-item .dropdown-info .btn-link::after { content: none; }

.dropdown-item .dropdown-info .btn-link i { position: relative; display: inline-block; margin-left: 0.71em; width: 0.86em; height: 0.71em; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.dropdown-item .dropdown-info .btn-link i::before, .dropdown-item .dropdown-info .btn-link i::after { content: ""; position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); border-right: 0.067em solid; border-bottom: 0.067em solid; border-color: #FC1921; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.dropdown-item .dropdown-info .btn-link i::before { width: 1.125em; right: -0.0625em; }

.dropdown-item .dropdown-info .btn-link i::after { width: 0.67em; height: 0.67em; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); }

.dropdown-item .dropdown-info .text-xl { color: #C8D8E8; }

.dropdown-item .dropdown-list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.dropdown-item .dropdown-list > *:not(:last-child) { margin-right: 9em; }

.dropdown-item .dropdown-list-menu > li { padding: 0; margin-right: 0; }

.dropdown-item .dropdown-list-menu > li > a { font-size: 1.4rem; line-height: 1.57em; font-weight: 700; color: #FFF; }

.dropdown-item .dropdown-list-menu li + li { margin-top: 0.71em; }

@media (min-width: 1200px) { .dropdown-item:hover > a { color: #FC1921; }
  .dropdown-item:hover::before { height: 100%; }
  .dropdown-item:hover .dropdown { top: 15rem; opacity: 1; visibility: visible; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
  .dropdown-item:hover .dropdown-btn::after { -webkit-transform: rotate(225deg); -ms-transform: rotate(225deg); transform: rotate(225deg); }
  .dropdown-item .dropdown-list-menu li a:hover { color: #FC1921; }
  .dropdown-info .btn-link:hover i { padding-right: 1.8125em; } }

@media (max-width: 1600px) { .dropdown-item .dropdown-info { max-width: 50rem; } }

@media (max-width: 1199px) { .dropdown-item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .dropdown-item::before { content: none; }
  .dropdown-item .dropdown-btn::after { -webkit-transform: translate(-50%, -50%) rotate(-45deg); -ms-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); }
  .dropdown-item .dropdown { padding: 1.25em 0; position: fixed; width: 100%; height: 100%; z-index: 10; opacity: 1; visibility: visible; -webkit-transform: translate(-110%, 0); -ms-transform: translate(-110%, 0); transform: translate(-110%, 0); overflow: auto; }
  .dropdown-item .dropdown::after { content: none; }
  .dropdown-item .dropdown .dropdown-close { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0 1.5em; margin-bottom: 1.25em; }
  .dropdown-item .dropdown .dropdown-close i { position: relative; display: inline-block; vertical-align: middle; width: 0.5em; height: 1em; margin-right: 0.85em; }
  .dropdown-item .dropdown .dropdown-close i::before { content: ""; position: absolute; width: 0.7em; height: 0.7em; top: 50%; left: 0; z-index: 10; -webkit-transform: translateY(-50%) rotate(135deg); -ms-transform: translateY(-50%) rotate(135deg); transform: translateY(-50%) rotate(135deg); border-right: 0.1em solid #FC1921; border-bottom: 0.1em solid #FC1921; }
  .dropdown-item .dropdown .dropdown-close span { font-family: "Avenir"; font-size: 2.2rem; line-height: 1.18em; font-weight: 800; color: #FFF; }
  .dropdown-item .dropdown-info { margin-bottom: 1em; }
  .dropdown-item .dropdown-list { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }
  .dropdown-item .dropdown-list > *:not(:last-child) { margin-right: 5em; }
  .dropdown-item .dropdown-list-menu li { padding: 0; margin-right: 0; }
  .dropdown-item .dropdown-list-menu li a { color: #FFF; }
  .dropdown-item .dropdown-list-menu li + li { margin-top: 0.71em; }
  .dropdown-item.active .dropdown { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); transform: translate(0, 0); } }

@media (max-width: 767px) { .dropdown-item { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .dropdown-item .dropdown { height: calc(100vh - 8rem); }
  .dropdown-item .dropdown-info { padding-bottom: 1.8em; margin-bottom: 1.8em; }
  .dropdown-item .dropdown-info .btn-link { padding-right: 1em; }
  .dropdown-item .dropdown-info .btn-link i::before { width: 0.8em; }
  .dropdown-item .dropdown-info .btn-link i::after { width: 0.5em; height: 0.5em; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); }
  .dropdown-item .dropdown-info::after { content: ""; position: absolute; bottom: 0; left: -2em; width: calc(100% + 4em); height: 0.05em; background: #59728B; }
  .dropdown-item .container { padding: 0 2em; }
  .dropdown-item .dropdown-list { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .dropdown-item .dropdown-list > *:not(:last-child) { margin-right: 0; margin-bottom: 0.45em; }
  .dropdown-item .dropdown-list-menu li { text-align: center; }
  .dropdown-item .dropdown-list-menu li + li { margin-top: 0.71em; } }

/**--------------------------------------------------------------------------------------------*/
/** HEADER STYLE FOR DIVISION */
/**--------------------------------------------------------------------------------------------*/
.division .header-inner::before { background: #439BFF; }

.division .dropdown-item .dropdown::after { background: #439BFF; }

/**--------------------------------------------------------------------------------*/
/**     BUTTONS     */
/**--------------------------------------------------------------------------------*/
.btn { display: inline-block; vertical-align: bottom; text-align: center; position: relative; cursor: pointer; text-decoration: none; border: none; background: none; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; font-size: 1.6rem; line-height: 1.25em; font-weight: 700; padding: 0.8125em 1.5em; border-radius: 2.5em; }

.btn i { position: relative; margin-left: 1.5em; }

.btn i::after { content: ""; position: absolute; top: 50%; left: 0; width: 0.5625em; height: 0.5625em; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); border-right: 2px solid; border-bottom: 2px solid; border-color: inherit; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.btn-primary { background: #FFF; border: 1px solid #C8D8E8; color: #1E2A3A; }

.btn-primary i::after { border-color: #FC1921; }

.btn-secondary { color: #FFF; border: 1px solid #FE444A; background: transparent; }

.btn-secondary i::after { border-color: #FFF; }

.btn-small { font-size: 1.4rem; line-height: 1.57em; padding: 0.45rem 2.4rem; }

.btn:focus { background: #FFF; outline: 0.125em solid #0F35FE; border-radius: 1.5em; }

.btn-link { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; cursor: pointer; text-decoration: none; background: none; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; font-size: 1.6rem; line-height: 1em; font-weight: 700; }

.btn-link-primary { color: #1E2A3A; }

.btn-link-secondary { color: #FFF; }

.btn-link.right { padding-right: 1.875em; }

.btn-link.right::before, .btn-link.right::after { content: ""; position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); border-right: 2px solid; border-bottom: 2px solid; border-color: #FC1921; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.btn-link.right::before { width: 1.125em; right: -0.0625em; }

.btn-link.right::after { width: 0.67em; height: 0.67em; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); }

.btn-search { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0.3125em 1.125em 0.3125em 1.5em; background: #FFF; border: 0.0625em solid #C8D8E8; border-radius: 2.5em; color: #1E2A3A; cursor: pointer; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.btn-search .input { height: auto; max-width: 3.43em; border: none; border-radius: unset; font-size: 1.4rem; line-height: 1.57em; font-weight: 700; padding: 0; margin-right: 1.21em; background: transparent; }

.btn-search button { width: 1.25em; height: 1.25em; cursor: pointer; }

.btn-search button svg path { -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.tag { position: relative; display: inline-block; vertical-align: bottom; text-align: center; cursor: pointer; text-decoration: none; font-size: 1.4rem; line-height: 1.57em; font-weight: 500; color: #1E2A3A; background: #FFF; border-radius: 1.07em; border: 0.07em solid #C8D8E8; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; padding: 0.36em 1.14em; }

.tag i { position: relative; margin-left: 1.5em; display: none; }

.tag i::before, .tag i::after { content: ""; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%) rotate(45deg); -ms-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg); -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 0.14em; height: 0.86em; background: #FC1921; }

.tag i::after { -webkit-transform: translate(-50%, -50%) rotate(-45deg); -ms-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); }

.tag.active i { display: inline; }

.tag:focus { background: #FFF; outline: 0.143em solid #0F35FE; }

@media (min-width: 1200px) { .btn-primary:hover { background: #FC1921; border-color: #FC1921; color: #FFF; }
  .btn-primary:hover i::after { border-color: #FFF; }
  .btn-secondary:hover { color: #FFF; background: #FC1921; }
  .btn-link-primary:hover, .btn-link-secondary:hover { color: #FC1921; }
  .btn-link-primary:hover.right, .btn-link-secondary:hover.right { padding-right: 2.8125em; }
  .btn-search .input:focus { background: transparent; border-color: transparent; max-width: 8.85em; outline: none; }
  .btn-search:hover { background: #FC1921; border-color: #FC1921; color: #FFF; }
  .btn-search:hover .input { color: #FFF; }
  .btn-search:hover input[type="search"]::-webkit-input-placeholder { color: #FFF; }
  .btn-search:hover input[type="search"]:-moz-placeholder { color: #FFF; }
  .btn-search:hover input[type="search"]::-moz-placeholder { color: #FFF; }
  .btn-search:hover input[type="search"]:-ms-input-placeholder { color: #FFF; }
  .btn-search:hover button svg path { fill: #FFF; }
  .tag:hover { color: #FFF; background: #FC1921; border-color: #FC1921; }
  .tag.active:hover i::before, .tag.active:hover i::after { background: #FFF; } }

@media (max-width: 1199px) { .btn-search .input { max-width: 100%; }
  .btn-search .input:focus { background: transparent; border-color: transparent; outline: none; } }

@media (max-width: 991px) { .btn { font-size: 1.4rem; }
  .btn-link { font-size: 1.4rem; } }
