/**------------------------*/
/** CTA CARDS */
/**------------------------*/
.cta-card-wrapper { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.cta-card-wrapper > *:not(:last-child) { margin-bottom: 2.4rem; }

.cta-card-wrapper.vertical { margin-bottom: -2.4rem; }

.cta-card-wrapper.column-3 { -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.cta-card-wrapper.column-3 .cta-card.vertical:nth-child(2n) { margin-right: 2.4rem; }

.cta-card-wrapper.column-3 .cta-card.vertical:nth-child(3n) { margin-right: 0; }

.cta-card { -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; border-radius: 0.4rem 0.4rem 0 0; -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2); box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2); cursor: pointer; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; max-width: 100%; overflow: hidden; padding-bottom: 0.4rem; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; }

.cta-card::before { background: -webkit-gradient(linear, left top, right top, color-stop(1.28%, #ef3e42), color-stop(33.67%, #f68924), color-stop(65.04%, #87bd40), color-stop(96.91%, #53c4c9)); background: -o-linear-gradient(left, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%); background: linear-gradient(90deg, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%); bottom: 0; content: ""; height: 0.25em; left: 0; position: absolute; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; }

.cta-card.vertical { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; margin-bottom: 2.4rem; margin-right: 2.4rem; max-width: calc(50% - 1.2rem); min-height: 28rem; }

.cta-card.vertical .cta-card-img { max-width: 100%; padding-bottom: 54.4%; }

.cta-card.vertical .cta-card-info .text-xl { -webkit-line-clamp: unset; }

.cta-card.vertical:nth-child(2n) { margin-right: 0; }

.cta-card-img { display: block; height: 0; max-width: 35.5%; padding-bottom: 24.5%; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; }

.cta-card-img img { height: 100%; left: 0; -o-object-fit: cover; object-fit: cover; position: absolute; top: 0; width: 100%; }

.cta-card-img.logo { background-color: #e2f0ff; }

.cta-card-img.logo img { left: 50%; position: absolute; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); max-height: 8rem; max-width: 23rem; -o-object-fit: contain; object-fit: contain; }

.cta-card-info { -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 4.8rem; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.cta-card-info .title { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.cta-card-info .text-xl { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 2; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

@media (min-width: 1200px) { .cta-card:hover::before { height: 1em; }
  .cta-card:hover .cta-card-img { -webkit-transform: translateY(-0.7em); -ms-transform: translateY(-0.7em); transform: translateY(-0.7em); }
  .cta-card:hover .cta-card-info { -webkit-transform: translateY(-0.5em); -ms-transform: translateY(-0.5em); transform: translateY(-0.5em); }
  .cta-card:hover .cta-card-info .title { color: #fc1921; } }

@media (max-width: 1199px) { .cta-card-info { padding: 2.4rem; } }

@media (max-width: 991px) { .cta-card-wrapper.column-3 { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .cta-card-wrapper.column-3 .cta-card.vertical:nth-child(2n) { margin-right: 0; }
  .cta-card-wrapper.column-3 .cta-card.vertical:nth-child(3n) { margin-right: 2.4rem; }
  .cta-card.vertical { min-height: auto; } }

@media (max-width: 767px) { .cta-card-wrapper > *:not(:last-child) { margin-bottom: 1.6rem; }
  .cta-card-wrapper.vertical { margin-bottom: -1.6rem; }
  .cta-card-wrapper.column-3 { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .cta-card-wrapper.column-3 .cta-card.vertical:nth-child(3n) { margin-right: 0; }
  .cta-card { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .cta-card.vertical { margin-bottom: 1.6rem; margin-right: 0; max-width: 100%; }
  .cta-card.vertical .cta-card-img { padding-bottom: 56.5%; }
  .cta-card-img { max-width: 100%; padding-bottom: 56.5%; }
  .cta-card-img.logo img { max-height: 7rem; max-width: 20rem; }
  .cta-card-info .text-xl { -webkit-line-clamp: 3; } }

/**------------------------*/
/** CTA CARDS FOR DIVISION */
/**------------------------*/
.division .cta-card::before { background: #439bff; }
