/**-----------------------------------------------------------------------*/
/** QUOTES BLOCK */
/**-----------------------------------------------------------------------*/
.quotes-img { position: relative; display: block; width: 100%; padding-bottom: 108.271%; }

.quotes-img img { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.quotes-info { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; padding-left: 12rem; }

.quotes-info::before { content: ""; position: absolute; top: 0; left: 0; z-index: 1; width: 0.8rem; height: 100%; background-color: #FC1921; }

.quotes-info::after { content: ""; position: absolute; top: 0; left: 0; z-index: -1; width: 10000px; height: 100%; background-color: #000000; }

.quotes-info .text > blockquote { color: #FFF; border-top: 0.11em solid transparent; border-bottom: 0.11em solid transparent; }

.quotes-info .text > blockquote q { display: -webkit-box; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.quotes-info .text > blockquote h5 { color: #FFF; margin-top: 2.4rem; }

.quotes-info .text > blockquote p { color: #C8D8E8; }

.quotes-info .text > blockquote::before { background-image: url(../img/icons/quotes-red.svg); }

.decor-right { position: absolute; top: -23rem; right: 0; width: 74.5rem; height: 130rem; background-repeat: no-repeat; background-size: contain; z-index: -1; }

@media (max-width: 1199px) { .decor-right { top: -20rem; width: 40rem; } }

@media (max-width: 991px) { .quotes-info { padding-left: 4.4rem; padding-right: 4.4rem; }
  .quotes-info::before { width: 100%; height: 0.4rem; }
  .quotes-info::after { width: 100%; }
  .decor-right { display: none; } }

@media (max-width: 767px) { .quotes .container { padding: 0; }
  .quotes-info .text > blockquote { font-size: 2.4rem; padding: 5.33em 0 2.67em 0; }
  .quotes-info .text > blockquote q { -webkit-line-clamp: 8; }
  .quotes-info .text > blockquote::before { top: 3.5em; }
  .quotes-info .text > blockquote h5 { margin-top: 1.6rem; } }

/**--------------------------------------------------------------------------------------------*/
/** QUOTES BLOCK FOR DIVISION */
/**--------------------------------------------------------------------------------------------*/
.division .quotes-info::before { background-color: #439BFF; }

.division .quotes-info::after { background-color: #09134B; }

.division .quotes-info .text > blockquote::before { background-image: url(../img/icons/quotes.svg); }
