/**------------------------*/
/** CARD SLIDER */
/**------------------------*/
.products-services.mt-70 { margin-top: -7rem; }

.card-wrapper { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.card-wrapper > *:not(:last-child) { margin-right: 2.4rem; }

.card-item { background-color: #fff; border-radius: 0.4rem 0.4rem 0 0; -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2); box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2); height: 100%; min-height: 36rem; position: relative; }

.card-item::before { background: -webkit-gradient(linear, left top, right top, color-stop(1.28%, #ef3e42), color-stop(33.67%, #f68924), color-stop(65.04%, #87bd40), color-stop(96.91%, #53c4c9)); background: -o-linear-gradient(left, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%); background: linear-gradient(90deg, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%); bottom: 0; content: ""; height: 0.25em; left: 0; position: absolute; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; }

.card-item.small { min-height: auto; padding: 2.4rem; }

.card-item.large { min-height: 44.6rem; padding: 4.8rem; }

.card-item .tagline { color: #0c2d83; font-weight: 900; text-transform: uppercase; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.card-item .title { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 3; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.card-item .text { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 4; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.card-img { height: 100%; max-height: 6.4rem; max-width: 6.4rem; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; }

.card-img img { height: auto; max-width: 100%; width: 100%; }

.card-swiper .swiper-container { overflow: visible; }

.card-swiper .swiper-slide { height: auto; }

.card-swiper .swiper-button-prev, .card-swiper .swiper-button-next { left: -9.6rem; }

.card-swiper .swiper-button-next { left: auto; right: -9.6rem; }

.card-swiper .swiper-pagination { display: none; }

.card-swiper.type-2 .swiper-container { overflow: hidden; }

.decor-left { background-repeat: no-repeat; background-size: contain; height: 130rem; left: 0; position: absolute; top: -3rem; width: 88.5rem; z-index: -1; }

.decor-left.type-2 { top: -30rem; }

@media (min-width: 1200px) { .card-item:hover::before { height: 1em; }
  .card-item:hover .card-img { -webkit-transform: translateY(-0.7em); -ms-transform: translateY(-0.7em); transform: translateY(-0.7em); }
  .card-item:hover .tagline { -webkit-transform: translateY(-0.7em); -ms-transform: translateY(-0.7em); transform: translateY(-0.7em); }
  .card-item:hover .title { color: #e30513; -webkit-transform: translateY(-0.7em); -ms-transform: translateY(-0.7em); transform: translateY(-0.7em); }
  .card-item:hover .text { -webkit-transform: translateY(-0.7em); -ms-transform: translateY(-0.7em); transform: translateY(-0.7em); } }

@media (max-width: 1600px) { .card-item { max-width: 38.4rem; }
  .card-item.small { max-width: 28.2rem; } }

@media (max-width: 1400px) { .card-swiper .swiper-button-prev, .card-swiper .swiper-button-next { left: -6.4rem; }
  .card-swiper .swiper-button-next { left: auto; right: -6.4rem; } }

@media (max-width: 1199px) { .products-services.mt-70 { margin-top: -2rem; }
  .card-item.large { min-height: 39.8rem; }
  .card-swiper .swiper-button-prev, .card-swiper .swiper-button-next { left: -2.4rem; }
  .card-swiper .swiper-button-next { left: auto; right: -2.4rem; }
  .decor-left { width: 70rem; } }

@media (max-width: 991px) { .card-swiper { padding-bottom: 4.8rem; }
  .card-swiper .swiper-button-wrapper { -webkit-box-align: center; -ms-flex-align: center; align-items: center; bottom: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; width: 100%; }
  .card-swiper .swiper-button-wrapper > *:not(:last-child) { margin-right: 1.5em; }
  .card-swiper .swiper-button-prev, .card-swiper .swiper-button-next { left: 0; position: relative; top: 0; -webkit-transform: unset; -ms-transform: unset; transform: unset; }
  .card-swiper .swiper-button-next { left: auto; right: 0; }
  .card-swiper .swiper-button-prev { -webkit-transform: scaleX(-1); -ms-transform: scaleX(-1); transform: scaleX(-1); }
  .decor-left { display: none; } }

@media (max-width: 767px) { .card-swiper .swiper-slide { width: auto; }
  .card-swiper.type-2 .swiper-container { overflow: visible; }
  .card-item { max-width: 21.5rem; }
  .card-item.large { max-width: 28.8rem; padding: 2.4rem; } }

/**------------------------*/
/** CARD FOR DIVISION */
/**------------------------*/
.division .card-item::before { background: #439bff; }

.division .products-services { position: relative; }

.division .products-services::before { background-color: #e2f0ff; -webkit-clip-path: ellipse(90% 60% at 50% 40%); clip-path: ellipse(90% 60% at 50% 40%); content: ""; height: 200%; left: 0; position: absolute; top: -35%; width: 100%; z-index: -1; }

@media (max-width: 767px) { .division .products-services::before { -webkit-clip-path: ellipse(170% 60% at 50% 40%); clip-path: ellipse(170% 60% at 50% 40%); height: 250%; } }
