/**------------------------*/
/** EMPLOYEES SLIDER */
/**------------------------*/
.employees-wrapper { max-width: 92%; }

.employees-info { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; height: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 4.8rem 6.4rem 4.8rem 12rem; position: relative; }

.employees-info::before { background-color: #000; content: ""; height: 100%; position: absolute; right: 0; top: 0; width: 100%; z-index: -1; }

.employees-info::after { background-color: #fc1921; content: ""; height: 100%; position: absolute; right: 0; top: 0; width: 0.4rem; z-index: 1; }

.employees-info .tagline { color: #fc1921; text-transform: uppercase; }

.employees-info .text-xl, .employees-info .text-lg, .employees-info .text-sm { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 4; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.employees-info .text { font-size: 3.6rem; font-weight: 400; line-height: 1.28em; }

.employees-info .position { color: #c8d8e8; }

.employees-img { display: block; padding-bottom: 98%; position: relative; width: 100%; }

.employees-img img { height: 100%; left: 0; -o-object-fit: cover; object-fit: cover; position: absolute; top: 0; width: 100%; }

.employees-swiper .swiper-button-prev, .employees-swiper .swiper-button-next { left: 2.4rem; }

.employees-swiper .swiper-button-next { left: auto; right: 2.4rem; }

.employees-swiper .swiper-pagination { bottom: 4.4rem; right: 25%; }

.employees-swiper .swiper-pagination-bullet { -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); }

@media (max-width: 1199px) { .employees-wrapper { max-width: 100%; }
  .employees-info .text { font-size: 2.4rem; }
  .employees-img { padding-bottom: 108%; }
  .employees-swiper .swiper-pagination { right: 15%; } }

@media (max-width: 991px) { .employees-info { padding: 6.4rem 4.4rem 12.8rem 4.4rem; }
  .employees-info::after { height: 0.4rem; width: 100%; }
  .employees-img { padding-bottom: 98%; }
  .employees-swiper .swiper-button-wrapper { -webkit-box-align: center; -ms-flex-align: center; align-items: center; bottom: 7.2rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; left: 4.4rem; position: absolute; right: 4.4rem; width: calc(100% - 8.8rem); }
  .employees-swiper .swiper-button-prev, .employees-swiper .swiper-button-next { display: block; left: 0; }
  .employees-swiper .swiper-button-next { left: auto; right: 0; }
  .employees-swiper .swiper-pagination { bottom: 0; left: 0; position: relative; right: 0; -webkit-transform: unset; -ms-transform: unset; transform: unset; } }

@media (max-width: 767px) { .employees-info .text { -webkit-line-clamp: 6; }
  .employees-img { padding-bottom: 100%; } }

/**------------------------*/
/** EMPLOYEES SLIDER FOR DIVISION */
/**------------------------*/
.division .employees-info::before { background-color: #09134b; }

.division .employees-info::after { background-color: #439bff; }

.division .employees-info .tagline { color: #439bff; }
