/**------------------------*/
/** SEARCH RESULTS */
/**------------------------*/
.search-results-wrapper { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.select-item-total { color: #1e2a3a; font-size: 1.6rem; font-weight: 500; line-height: 1.5em; }

@media (max-width: 767px) { .select-item-total { font-size: 1.4rem; line-height: 1.57em; } }

/**------------------------*/
/** SEARCH CARDS */
/**------------------------*/
.search-cards-wrapper > *:not(:last-child) { margin-bottom: 2.4rem; }

.search-card { -webkit-box-align: center; -ms-flex-align: center; align-items: center; background-color: #fff; border-radius: 0.4rem 0.4rem 0 0; -webkit-box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2); box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2); display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; min-height: 37.2rem; overflow: hidden; padding-bottom: 0.4rem; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.search-card::before { background: -webkit-gradient(linear, left top, right top, color-stop(1.28%, #ef3e42), color-stop(33.67%, #f68924), color-stop(65.04%, #87bd40), color-stop(96.91%, #53c4c9)); background: -o-linear-gradient(left, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%); background: linear-gradient(90deg, #ef3e42 1.28%, #f68924 33.67%, #87bd40 65.04%, #53c4c9 96.91%); bottom: 0; content: ""; height: 0.25em; left: 0; position: absolute; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; }

.search-card-img { display: block; height: 0; max-width: 28.57%; padding-bottom: 27.7%; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; width: 100%; }

.search-card-img img { height: 100%; left: 0; -o-object-fit: cover; object-fit: cover; position: absolute; top: 0; width: 100%; }

.search-card-info { -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 6.4rem 4.8rem; position: relative; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.search-card-info .tagline { color: #439bff; font-size: 1.6rem; font-weight: 900; letter-spacing: 0.06em; line-height: 1.25em; text-transform: uppercase; }

.decor-search { background-color: #e2f0ff; background-position: top center; background-repeat: no-repeat; background-size: 100%; bottom: 0; height: 100%; left: 0; position: absolute; width: 100%; z-index: -1; }

@media (min-width: 1200px) { .search-card:hover::before { height: 1em; }
  .search-card:hover .search-card-img { -webkit-transform: translateY(-0.7em); -ms-transform: translateY(-0.7em); transform: translateY(-0.7em); }
  .search-card:hover .border-top { -webkit-transform: translateY(-0.5em); -ms-transform: translateY(-0.5em); transform: translateY(-0.5em); }
  .search-card:hover .search-card-info { -webkit-transform: translateY(-0.5em); -ms-transform: translateY(-0.5em); transform: translateY(-0.5em); }
  .search-card:hover .search-card-info .title { color: #fc1921; } }

@media (max-width: 1600px) { .search-card { min-height: 27.6rem; } }

@media (max-width: 1199px) { .search-card { min-height: auto; }
  .search-card-info { padding: 2.4rem; } }

@media (max-width: 767px) { .search-cards-wrapper > *:not(:last-child) { margin-bottom: 1.6rem; }
  .search-card { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .search-card-img { max-width: 100%; padding-bottom: 56.5%; }
  .search-card-info .tagline { font-size: 1.4rem; letter-spacing: 0.02em; line-height: 1.29em; }
  .decor-search { height: 97%; } }

/**------------------------*/
/** SEARCH CARDS FOR DIVISION */
/**------------------------*/
.division .search-card::before { background: #439bff; }
