/**------------------------*/
/** QUOTES BLOCK */
/**------------------------*/
.quotes-img { display: block; padding-bottom: 108.271%; position: relative; width: 100%; }

.quotes-img img { height: 100%; left: 0; -o-object-fit: cover; object-fit: cover; position: absolute; top: 0; width: 100%; }

.quotes-info { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; padding-left: 12rem; position: relative; }

.quotes-info::before { background-color: #fc1921; content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 0.8rem; z-index: 1; }

.quotes-info::after { background-color: #000; content: ""; height: 100%; left: 0; position: absolute; top: 0; width: 10000px; z-index: -1; }

.quotes-info .text > blockquote { border-bottom: 0.11em solid transparent; border-top: 0.11em solid transparent; color: #fff; }

.quotes-info .text > blockquote q { -webkit-box-orient: vertical; display: -webkit-box; -webkit-line-clamp: 6; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; }

.quotes-info .text > blockquote h5 { color: #fff; margin-top: 2.4rem; }

.quotes-info .text > blockquote p { color: #c8d8e8; }

.quotes-info .text > blockquote::before { background-image: url("../img/icons/quotes-red.svg"); }

.decor-right { background-repeat: no-repeat; background-size: contain; height: 130rem; position: absolute; right: 0; top: -23rem; width: 74.5rem; z-index: -1; }

@media (max-width: 1199px) { .decor-right { top: -20rem; width: 40rem; } }

@media (max-width: 991px) { .quotes-info { padding-left: 4.4rem; padding-right: 4.4rem; }
  .quotes-info::before { height: 0.4rem; width: 100%; }
  .quotes-info::after { width: 100%; }
  .decor-right { display: none; } }

@media (max-width: 767px) { .quotes .container { padding: 0; }
  .quotes-info .text > blockquote { font-size: 2.4rem; padding: 5.33em 0 2.67em 0; }
  .quotes-info .text > blockquote q { -webkit-line-clamp: 8; }
  .quotes-info .text > blockquote::before { top: 3.5em; }
  .quotes-info .text > blockquote h5 { margin-top: 1.6rem; } }

/**------------------------*/
/** QUOTES BLOCK FOR DIVISION */
/**------------------------*/
.division .quotes-info::before { background-color: #439bff; }

.division .quotes-info::after { background-color: #09134b; }

.division .quotes-info .text > blockquote::before { background-image: url("../img/icons/quotes.svg"); }
