/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/*00 - FONTS IMPORT*/
/*01 - LIBRARIES*/
/*02 - GLOBAL SETTINGS*/
/*03 - FOOTER*/
/*04 - ELEMENTS*/
/*05 - POPUPS*/
/*06 - ADDITIONAL STYLES CONNECTED TO STYLE-TOP.CSS*/
/*07 - OTHER*/
/*enterprise colors primary*/
/*color gradient*/
/*colors secondary*/
/*text colors*/
/*neutral colors*/
/*aux colors*/
/*division colors primary*/
/*general*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
html { height: auto; }

body { height: auto; overflow: visible; }

body ::-moz-selection { color: #fff; background: #000; }

body ::selection { color: #fff; background: #000; }

body ::-moz-selection { color: #fff; background: #000; }

.swiper-slide:not(:first-child) { display: block; }

.bg-color-blue { background-color: #274298; }

.bg-color-dark-blue { background-color: #002169; }

.bg-color-light-blue { background-color: #47A3FF; }

.bg-color-red { background-color: #DF1818; }

.bg-color-violet { background-color: #47A3FF; }

.clr-grey { background: #C4C4C4; }

.clr-yellow { background: #FFA800; }

.clr-blue { background: #009BCC; }

.clr-aqua { background: #BDF6FD; }

.clr-white { background: #FFFFFF; }

.clr-violet { background: #7C1DC9; }

.clr-black { background: #161616; }

/**--------------------------------------------------------------------------------------*/
/** SWIPER */
/**--------------------------------------------------------------------------------------*/
.swiper-entry, .swiper-control-wrapper { position: relative; }

.swiper-container { margin-left: auto; margin-right: auto; position: relative; overflow: hidden; list-style: none; padding: 0; z-index: 1; }

.swiper-container.swiper-container-visible { overflow: visible; }

.swiper-container:not(.swiper-no-swiping) .swiper-wrapper { cursor: url(../img/drag.png) 16 9, ew-resize; }

.swiper-container-vertical:not(.swiper-no-swiping) .swiper-wrapper { cursor: url(../img/drag-vertical.png) 8 16, ns-resize; }

.swiper-button-lock + .swiper-button-lock + .swiper-container .swiper-wrapper { cursor: default; }

.swiper-buttons-wrapper.swiper-buttons-lock + .swiper-container .swiper-wrapper { cursor: default; }

.swiper-pagination.swiper-pagination-relative.swiper-pagination-lock, .swiper-pagination.swiper-pagination-lock { display: none; }

.swiper-entry.hide-control .swiper-container .swiper-wrapper { cursor: default; }

.swiper-entry.hide-control .swiper-controls, .swiper-entry.hide-control .swiper-pagination { display: none; }

.swiper-slide { background-size: cover; background-position: center center; position: relative; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

/*for elements*/
.slide-img { position: relative; height: 100%; padding-bottom: 55%; }

.slide-img img { position: absolute; top: 0; left: 0; width: 100%; -o-object-fit: cover; object-fit: cover; }

/*swiper arrow*/
.swiper-button-prev, .swiper-button-next { position: absolute; margin-top: 0; top: 50%; left: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); height: 4.8rem; width: 4.8rem; background: #FFF; z-index: 2; outline: none; border-radius: 100%; border: 1px solid #C8D8E8; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.swiper-button-prev::after, .swiper-button-next::after { display: none; }

.swiper-button-next { left: auto; right: 0; }

.swiper-button-prev i, .swiper-button-next i { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.swiper-button-prev i::before, .swiper-button-next i::before { content: ""; position: absolute; z-index: 1; height: 0.625em; width: 0.625em; top: calc(50% - 5px); left: 50%; border-right: 0.125em solid #1E2A3A; border-bottom: 0.125em solid #1E2A3A; -webkit-transform: rotate(-45deg) translate(-50%, -50%); -ms-transform: rotate(-45deg) translate(-50%, -50%); transform: rotate(-45deg) translate(-50%, -50%); -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.swiper-button-prev { -webkit-transform: scaleX(-1) translate(0, -50%); -ms-transform: scaleX(-1) translate(0, -50%); transform: scaleX(-1) translate(0, -50%); }

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled { opacity: 1; }

/*swiper pagination*/
.swiper-container-horizontal > .swiper-pagination-bullets { left: 50%; bottom: 1.5em; -webkit-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); transform: translate(-50%, 0); width: auto; }

.swiper-pagination { line-height: 0; z-index: 2; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.swiper-pagination.swiper-pagination-relative { position: relative; margin-top: 20px; bottom: 0 !important; top: 0 !important; }

.swiper-pagination-bullet { position: relative; width: 1em; height: 1em; border-radius: 100%; opacity: 1; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; outline: none; background: #FFF; border: 0.0625em solid #C8D8E8; }

.swiper-pagination-bullet-active { background-color: #FC1921; border-color: #FC1921; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-clickable .swiper-pagination-bullet { margin: 0 0.25em; }

/*custom-fraction pagination*/
.custom-fraction-wrap { position: absolute; top: 10px; right: 10px; z-index: 3; }

.custom-fraction-wrap .custom-fraction_inner { width: auto; text-align: center; font-size: 12px; line-height: 1em; color: #737373; font-weight: 500; letter-spacing: 0.05em; }

.custom-fraction-wrap .custom-fraction_inner .custom-current, .custom-fraction-wrap .custom-fraction_inner .custom-total { display: inline-block; position: relative; }

.custom-fraction-wrap .custom-fraction_inner .custom-total { margin-left: -3px; }

.custom-fraction-wrap .custom-fraction_inner .custom-current { margin-right: -3px; }

@media (min-width: 1200px) { .swiper-button-prev:hover, .swiper-button-next:hover { border-color: #FC1921; background: #FC1921; }
  .swiper-button-prev:hover i::before, .swiper-button-prev:hover i::after, .swiper-button-next:hover i::before, .swiper-button-next:hover i::after { border-color: #FFF; }
  .swiper-pagination-bullet:hover { background: #FC1921; border-color: #FC1921; } }

@media (max-width: 991px) { .swiper-button-prev, .swiper-button-next { height: 3.2rem; width: 3.2rem; } }

@media (max-width: 767px) { .swiper-entry .swiper-container { overflow: visible; } }

/**--------------------------------------------------------*/
/** FORM ELEMENTS */
/**--------------------------------------------------------*/
/*input placeholder*/
input::-webkit-input-placeholder { font-size: 1.6rem; line-height: 1.5em; font-weight: 500; color: #1E2A3A; opacity: 1; }

input:-moz-placeholder { font-size: 1.6rem; line-height: 1.5em; font-weight: 500; color: #1E2A3A; opacity: 1; }

input::-moz-placeholder { font-size: 1.6rem; line-height: 1.5em; font-weight: 500; color: #1E2A3A; opacity: 1; }

input:-ms-input-placeholder { font-size: 1.6rem; line-height: 1.5em; font-weight: 500; color: #1E2A3A; opacity: 1; }

/*textarea placeholder*/
textarea::-webkit-input-placeholder { font-size: 1.8rem; line-height: 1.44em; font-weight: 500; color: #59728B; opacity: 1; }

textarea:-moz-placeholder { font-size: 1.8rem; line-height: 1.44em; font-weight: 500; color: #59728B; opacity: 1; }

textarea::-moz-placeholder { font-size: 1.8rem; line-height: 1.44em; font-weight: 500; color: #59728B; opacity: 1; }

textarea:-ms-input-placeholder { font-size: 1.8rem; line-height: 1.44em; font-weight: 500; color: #59728B; opacity: 1; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }

input[type="number"] { -moz-appearance: textfield; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="search"]::-webkit-search-cancel-button { display: none; }

input[type="search"]::-webkit-input-placeholder { opacity: 1; font-size: 1.4rem; line-height: 1.57em; font-weight: 700; color: #1E2A3A; }

input[type="search"]:-moz-placeholder { opacity: 1; font-size: 1.4rem; line-height: 1.57em; font-weight: 700; color: #1E2A3A; }

input[type="search"]::-moz-placeholder { opacity: 1; font-size: 1.4rem; line-height: 1.57em; font-weight: 700; color: #1E2A3A; }

input[type="search"]:-ms-input-placeholder { opacity: 1; font-size: 1.4rem; line-height: 1.57em; font-weight: 700; color: #1E2A3A; }

input, textarea, select { border-radius: 0; background: none; border: none; margin: 0; width: 100%; padding: 0; }

textarea { display: block; resize: none; overflow: auto; }

select::-ms-expand { display: none; }

.input { height: 2.5em; font-size: 1.6rem; line-height: 1.5em; font-weight: 500; padding: 0.5em 1.5em; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; -o-text-overflow: ellipsis; text-overflow: ellipsis; border: 0.0625em solid #C8D8E8; border-radius: 0.25em; color: #1E2A3A; }

.input:focus { outline: 0.125em solid #0F35FE; }

textarea.input { height: 6.25em; padding: 0.625em 1em; line-height: 1.3125em; background-color: #F5F5F5; font-size: 1.8rem; line-height: 1.44em; font-weight: 500; color: #59728B; border-radius: unset; border: none; border-bottom: 0.0625em solid #A8A8A8; }

/*styles for checkbox*/
.checkbox-entry { display: inline-block; cursor: pointer; margin: 0; padding: 0; min-width: 30px; min-height: 20px; line-height: initial; }

.checkbox-entry a { color: #FC1921; }

.checkbox-entry span { position: relative; display: inline-block; font-size: 16px; line-height: 1.5em; font-weight: 500; padding-left: 1.5em; color: #1E2A3A; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.checkbox-entry span.active { color: #FC1921; }

.checkbox-entry span::before { content: ""; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); width: 0.9375em; height: 0.9375em; border-radius: 0.125em; background: transparent; border: 0.0625em solid #FC1921; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.checkbox-entry span::after { content: ""; position: absolute; left: 4px; top: 50%; margin-top: -3px; width: 8px; height: 4px; border-left: 1px solid #FFF; border-bottom: 1px solid #FFF; border-radius: 0; -webkit-transform: rotate(-45deg) scale(1); -ms-transform: rotate(-45deg) scale(1); transform: rotate(-45deg) scale(1); -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; opacity: 0; }

.checkbox-entry input { display: none; }

.checkbox-entry input:checked + span::before { background: #FC1921; }

.checkbox-entry input:checked + span::after { -webkit-transform: scale(1) translateY(-50%); -ms-transform: scale(1) translateY(-50%); transform: scale(1) translateY(-50%); opacity: 1; }

.checkbox-entry.checkbox input:checked + span:after { -webkit-transform: rotate(-45deg) scale(1); -ms-transform: rotate(-45deg) scale(1); transform: rotate(-45deg) scale(1); }

.form-block > *:not(:last-child) { margin-bottom: 1em; }

@media (max-width: 991px) { input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder { font-size: 1.4rem; }
  textarea::-webkit-input-placeholder, textarea:-moz-placeholder, textarea::-moz-placeholder, textarea:-ms-input-placeholder { font-size: 1.4rem; }
  .input { font-size: 1.4rem; }
  textarea.input { font-size: 1.4rem; } }

/**-----------------------------------------------------------------------*/
/** ACCORDION */
/**-----------------------------------------------------------------------*/
.accordion { position: relative; z-index: 1; }

.accordion > *:not(:last-child) { margin-bottom: 10px; }

.accordion-item { position: relative; border-top: 1px solid #C8D8E8; }

.accordion-title { position: relative; font-size: 2.4rem; line-height: 1.25em; font-weight: 700; letter-spacing: -0.2rem; color: #1E2A3A; cursor: pointer; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; padding: 0.75em 1.67em 0.5em 0.67em; }

.accordion-title::before { content: ""; position: absolute; top: 50%; right: 0.83em; width: 0.42em; height: 0.42em; border-left: 0.083em solid #1E2A3A; border-bottom: 0.083em solid #1E2A3A; -webkit-transform: translateY(-50%) rotate(-45deg); -ms-transform: translateY(-50%) rotate(-45deg); transform: translateY(-50%) rotate(-45deg); -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.accordion-title.active { color: #1E2A3A; }

.accordion-title.active::before { -webkit-transform: rotate(-225deg); -ms-transform: rotate(-225deg); transform: rotate(-225deg); border-color: #1E2A3A; }

.accordion-inner { display: none; padding: 1em 1em 1.5em 1em; }

@media (hover: hover) and (min-width: 1200px), (-ms-high-contrast: none) { .accordion-item:hover .accordion-title { color: #FC1921; }
  .accordion-item:hover .accordion-title::before { border-color: #FC1921; } }

@media (max-width: 1199px) { .accordion-title { font-size: 16px; }
  .accordion-title::before { top: 16px; }
  .accordion-title.active::before { top: 18px; } }

@media (max-width: 767px) { .accordion-title { padding: 10px 35px 10px 15px; }
  .accordion-inner { padding: 10px 35px 10px 15px; } }

/**-----------------------------------------------------------------------*/
/** BREDCRUMBS  */
/**-----------------------------------------------------------------------*/
.breadcrumbs { position: relative; font-size: 1.4rem; line-height: 1.57em; font-weight: 500; color: #59728B; }

.breadcrumbs li { position: relative; display: inline-block; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.breadcrumbs li:after { content: ''; position: relative; display: inline-block; width: 0.07em; height: 1.57em; background: #59728B; margin: -0.43em 0.57em; }

.breadcrumbs li:last-child:after { content: none; }

.breadcrumbs li.active { color: #0C2D83; }

.breadcrumbs.in { position: absolute; top: 0; left: 0; z-index: 10; }

@media (min-width: 1200px) { .breadcrumbs li a:hover { color: #0C2D83; } }

/**-----------------------------------------------------------------------*/
/** Pagination */
/**-----------------------------------------------------------------------*/
.pagination { text-align: center; }

.pagination ul { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.pagination li { position: relative; display: inline-block; vertical-align: middle; text-align: center; width: 2em; height: 2em; font-size: 1.6rem; line-height: 1.5em; font-weight: 500; color: #1E2A3A; background: #FFF; border: 0.0625em solid #C8D8E8; border-radius: 100%; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; cursor: pointer; margin-right: 1em; }

.pagination li:last-child { margin-right: 0; }

.pagination li .pagination-arrow i::before { content: ""; position: absolute; z-index: 1; height: 0.5em; width: 0.5em; top: 50%; left: 50%; border-right: 0.0625em solid #1E2A3A; border-bottom: 0.0625em solid #1E2A3A; -webkit-transform: translate(-50%, -50%) rotate(-45deg); -ms-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.pagination li .pagination-arrow.left { left: 55%; }

.pagination li .pagination-arrow.left i::before { -webkit-transform: translate(-50%, -50%) rotate(135deg); -ms-transform: translate(-50%, -50%) rotate(135deg); transform: translate(-50%, -50%) rotate(135deg); }

.pagination li .pagination-arrow.right { left: 45%; }

.pagination li a { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.pagination li.active { background: #0C2D83; border-color: #0C2D83; }

.pagination li.active a { color: #FFF; }

.pagination .dots { display: inline-block; vertical-align: middle; }

@media (min-width: 1200px) { .pagination li:hover { background: #0F35FE; border-color: #0F35FE; }
  .pagination li:hover a { color: #FFF; }
  .pagination li.dots:hover { color: #FFF; }
  .pagination li:hover .pagination-arrow i::before { border-color: #FFF; } }

@media (max-width: 991px) { .pagination li { font-size: 1.4rem; } }

/**--------------------------------------------------------------------------------------------*/
/** Footer */
/**--------------------------------------------------------------------------------------------*/
/*FOOTER TOP*/
.footer-top { margin: 5px 0 40px 0; }

.footer-top-wrapper { padding-right: 50px; }

.footer-logo { display: inline-block; vertical-align: middle; max-width: 215px; margin-bottom: 30px; }

.footer-logo img { display: block; width: 100%; max-width: 100%; }

.copyright { font-weight: normal; font-size: 16px; line-height: 1.75em; color: #1E2A3A; border-bottom: 1px solid #e2e2e2; padding-bottom: 30px; margin-bottom: 30px; }

.footer-form-title { font-size: 16px; line-height: 1.3125em; font-weight: 500; color: #1E2A3A; margin-bottom: 20px; }

.footer-form { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; max-width: 360px; }

.footer-form .input { padding: 0 70px 0 20px; }

.footer-form .btn { position: absolute; top: 0; right: 0; width: 55px; height: 55px; padding: 0; border-radius: unset; color: #FC1921; }

.footer-form .btn::before { content: ""; position: absolute; top: 50%; left: 50%; right: 0; width: 9px; height: 2px; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); border-right: 2px solid #FC1921; border-bottom: 2px solid #FC1921; border-color: inherit; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.footer-form .btn::after { content: ""; position: absolute; top: 50%; left: 50%; right: 0; width: 9px; height: 9px; -webkit-transform: translate(-50%, -50%) rotate(-45deg); -ms-transform: translate(-50%, -50%) rotate(-45deg); transform: translate(-50%, -50%) rotate(-45deg); border-right: 2px solid #FC1921; border-bottom: 2px solid #FC1921; border-color: inherit; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.footer-title { position: relative; display: none; font-size: 16px; line-height: 1.4em; font-weight: 500; color: #FC1921; margin-bottom: 10px; }

.footer-title::after { content: ""; position: absolute; right: 5px; top: 3px; -webkit-transform: rotate(135deg) translateY(-50%); -ms-transform: rotate(135deg) translateY(-50%); transform: rotate(135deg) translateY(-50%); width: 8px; height: 8px; border-top: 2px solid #FC1921; border-right: 2px solid #FC1921; -webkit-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }

.footer-title.active::after { right: 0; top: 7px; -webkit-transform: rotate(-45deg) translateY(-50%); -ms-transform: rotate(-45deg) translateY(-50%); transform: rotate(-45deg) translateY(-50%); }

.footer-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.footer-links li { line-height: 1em; }

.footer-links li + li { margin-top: 15px; }

.footer-links li a { position: relative; font-size: 16px; font-weight: 500; color: #1E2A3A; padding-left: 45px; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

/*FOOTER CENTER*/
.footer-center-inner { position: relative; border-top: 1px solid #e2e2e2; padding: 40px 0; }

/*FOOTER BOTTOM*/
.footer-bottom { padding: 20px 0; background-color: #FFF; }

.footer-bottom .footer-links { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

.footer-bottom .footer-links > *:not(:last-child) { margin-right: 30px; }

.footer-bottom .footer-links li a { padding-left: 0; }

.footer-bottom .footer-links li + li { margin-top: 0; }

.cards { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.cards > *:not(:last-child) { margin-right: 30px; }

.cards img { max-width: 40px; }

.developer { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }

.developer a { font-size: 14px; line-height: 1em; color: #1E2A3A; }

.developer a span, .developer a img { display: inline-block; vertical-align: middle; }

.developer a img { width: 85px; margin-left: 5px; }

@media (min-width: 1200px) { .footer-form .btn:hover { right: -5px; }
  .footer-links li a:hover { color: #FC1921; }
  .developer a:hover { color: #FC1921; } }

@media (max-width: 1600px) { /*FOOTER TOP*/
  .footer-top { margin: 5px 0 30px 0; }
  .footer-top-wrapper { padding-right: 0; }
  .footer-logo { max-width: 180px; margin-bottom: 20px; }
  .copyright { font-size: 14px; padding-bottom: 20px; margin-bottom: 20px; }
  .footer-form-title { font-size: 14px; margin-bottom: 15px; }
  .footer-form { max-width: 100%; }
  .footer-form .input { padding: 0 50px 0 20px; }
  .footer-form .btn { width: 50px; height: 50px; }
  .footer-links li + li { margin-top: 10px; }
  .footer-links li a { font-size: 14px; padding-left: 30px; }
  /*FOOTER CENTER*/
  .footer-center-inner { padding: 30px 0; }
  /*FOOTER BOTTOM*/
  .footer-bottom .footer-links > *:not(:last-child) { margin-right: 20px; }
  .cards > *:not(:last-child) { margin-right: 20px; }
  .cards img { max-width: 35px; }
  .developer a { font-size: 12px; }
  .developer a img { width: 75px; } }

@media (max-width: 991px) { /*FOOTER TOP*/
  .footer-top { margin: 5px 0 20px 0; }
  .footer-form { margin-bottom: 20px; }
  .footer-title { display: block; }
  .footer-links li + li { margin-top: 15px; }
  .footer-links li:last-child { margin-bottom: 15px; }
  .footer-links li a { padding-left: 0; }
  .footer-toggle { display: none; }
  /*FOOTER CENTER*/
  .footer-center-inner { padding: 20px 0; }
  /*FOOTER BOTTOM*/
  .footer-bottom .footer-links { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .footer-bottom .footer-links > *:not(:last-child) { margin-right: 0; margin-bottom: 15px; }
  .cards > *:not(:last-child) { margin-right: 20px; } }

@media (max-width: 767px) { /*FOOTER TOP*/
  .footer-top { margin: 5px 0 15px 0; }
  .footer-logo { margin-bottom: 15px; }
  .copyright { font-size: 12px; padding-bottom: 15px; margin-bottom: 15px; }
  .footer-form-title { margin-bottom: 15px; }
  .footer-form .btn { width: 45px; height: 45px; }
  .footer-title { margin-bottom: 5px; }
  .footer-links li + li { margin-top: 10px; }
  .footer-links li:last-child { margin-bottom: 10px; }
  /*FOOTER CENTER*/
  .footer-center-inner { padding: 15px 0; }
  /*FOOTER BOTTOM*/
  .footer-bottom { padding: 15px 0; }
  .footer-bottom .footer-links > *:not(:last-child) { margin-bottom: 10px; }
  .cards { margin-bottom: 10px; }
  .developer { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; } }
