/**------------------------*/
/** TABS  */
/**------------------------*/
.tab-nav { margin-bottom: 2.4rem; position: relative; }

.tab-title { border-bottom: 0.2rem solid transparent; color: #1e2a3a; cursor: pointer; display: none; font-weight: 700; padding: 0; text-align: center; }

.tab-toggle { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.tab-toggle div { border-bottom: 0.2rem solid transparent; color: #1e2a3a; cursor: pointer; font-size: 1.8rem; font-weight: 700; line-height: 1.44em; padding: 0; -webkit-transition: 0.25s ease-in; -o-transition: 0.25s ease-in; transition: 0.25s ease-in; }

.tab-toggle div.active { border-color: #fc1921; }

.tab-toggle > *:not(:last-child) { margin-right: 2.4rem; }

.tab { display: none; }

.tab:nth-child(2) { display: block; }

@media (min-width: 1200px) { .tab-toggle div:hover { border-color: #fc1921; } }

@media (max-width: 991px) { .tab-toggle div { white-space: nowrap; } }

@media (max-width: 767px) { .tab-nav { overflow: auto; padding-bottom: 0.5rem; }
  .tab-toggle { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; } }
