.btn {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  font-family: $barlow;
  font-size: 16px;
  line-height: 140%;
  padding: 16px 24px;

  svg {
    position: relative;
    top: 1px;
  }

  svg.icon-chevron-right {
    height: 16px;
    width: auto; 
  }

  svg.icon-plus {
    height: 12px;
    width: auto;
  }

  &.btn-small {
    padding: 8px 24px;
    gap: 12px;

    svg.icon-chevron-right {
      height: 12.5px;
      width: auto; 
    }

    svg.icon-plus {
      height: 10px;
      width: auto;
    }
  }

  // &.btn-icon-right {
  //   padding-right: 20px
  // }

  // &.btn-icon-left {
  //   padding-left: 20px;
  // }
}

.btn-icon-only {
  display: inline-flex;
  align-items: center;
  padding: 16px;

  svg {
    height: 12px;
    width: auto;
  }

  &.btn-small {
    padding: 8px;

    svg {
      height: 10px;
      width: auto;
    }
  }
}

.btn-primary {
  color: $white;
  background-color: $bright-blue;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: 1px solid transparent;

  svg path {
    fill: $white;
  }

  &:hover {
    background-color: $bright-blue-hover;
  }

  &:focus {
    background-color: $bright-blue;
    border: 1px solid $white;
    outline: 1px solid $bright-blue;
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    color: $gray-20;
    background-color: $gray-10;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: 1px solid transparent;
  
    &:hover {
      cursor: default;
    }
  
    &:focus {
      border: 1px solid $white;
      outline: 1px solid $gray-10;
    }
  
    svg {
      position: relative;
      top: 1px;
    }
  
    svg path {
      fill: $gray-20;
    }
  }
}

.btn-secondary {
  color: $bright-blue;
  background-color: $white;
  border-radius: 4px;
  border: 1px solid $bright-blue;
  outline: 1px solid transparent;

  svg path {
    fill: $bright-blue;
  }

  &:hover {
    color: $white;
    background-color: $bright-blue;

    svg path {
      fill: $white;
    }
  }

  &:focus {
    color: $bright-blue;
    background-color: $white;
    border: 1px solid $bright-blue;
    outline: 1px solid $bright-blue;

    svg path {
      fill: $bright-blue;
    }
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    color: $gray-20;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid $gray-20;
    outline: 1px solid transparent;
  
    &:hover {
      cursor: default;
    }
  
    &:focus {
      border: 1px solid $gray-20;
      outline: 1px solid $gray-20;
    }
  
    svg {
      position: relative;
      top: 1px;
    }
  
    svg path {
      fill: $gray-20;
    }
  }
}

.btn-tertiary {
  color: $navy;
  background-color: $mint;
  font-size: 22px;
  padding: 24px 44px;
  border-radius: 0px;
  border: 2px solid transparent;

  svg path {
    fill: $navy;
  }

  svg.icon-download {
    height: 22.5px;
    width: auto;
  }

  &:hover {
    color: $navy;
    background-color: $mint-hover;

    svg path {
      fill: $navy;
    }
  }

  &:focus {
    background-color: $mint;
    border: 2px solid $info;
  }

  &.btn-small {
    font-size: 16px;
    padding: 20px 32px;

    svg.icon-download {
      height: 21px;
      width: auto;
    }
  }
}

.btn-error {
  color: $white;
  background-color: $error;
  border-radius: 4px;
  border: 1px solid transparent;
  outline: 1px solid transparent;

  svg path {
    fill: $white;
  }

  &:hover {
    background-color: $error-hover;
  }

  &:focus {
    background-color: $error-hover;
    border: 1px solid $white;
    outline: 1px solid $error-hover;
  }
}

.btn-link-primary {
  color: $bright-blue;
  font-size: 22px;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 2px solid transparent;

  svg path {
    stroke: $bright-blue;
  }

  svg.icon-arrow-right {
    height: 15px;
    width: auto;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    border: 2px solid $bright-blue;
  }

  &.btn-small {
    font-size: 16px;
    padding: 6px 10px;
    gap: 10px;

    svg.icon-arrow-right {
      height: 12px;
      width: auto;
    }
  }
}

.btn-link-secondary {
  color: $navy;
  font-size: 22px;
  gap: 10px;
  padding: 6px 10px;
  border-radius: 4px;
  border: 2px solid transparent;

  svg path {
    stroke: $navy;
  }

  svg.icon-arrow-right {
    height: 15px;
    width: auto;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    border: 2px solid $navy;
  }

  &.btn-small {
    font-size: 16px;
    padding: 6px 10px;
    gap: 10px;

    svg.icon-arrow-right {
      height: 12px;
      width: auto;
    }
  }
}



