//VARIABLES
@import "variables-mixins";

/**------------------------*/

/** FOOTER */

/**------------------------*/
footer {
	.logo {
		display: inline-block;
		height: auto;
		line-height: 0;
		max-width: 26.5rem;
		position: relative;
		width: 100%;
		z-index: 100;

		img {
			height: auto;
			width: 100%;
		}
	}
}

.footer-top {
	position: relative;

	&::before {
		background-color: $color-gray-100;
		clip-path: ellipse(110% 100% at 50% 100%);
		content: "";
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
	}
}

.footer-nav-list {
	display: block;
	position: relative;
	text-align: center;

	li {
		color: $color-white;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1.5em;
		position: relative;

		> a {
			color: $color-white;
		}
	}

	li + li {
		margin-top: 0.5em;
	}
}

.footer-top-inner {
	position: relative;

	&::after {
		background-color: $color-text-30;
		bottom: 0;
		content: "";
		height: 0.0625em;
		left: 0;
		position: absolute;
		width: 100%;
	}
}

.logo-wrapper {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
}

.logo-img {
	height: 70px;
	max-width: 16rem;
	position: relative;
	width: auto;
	display:flex;
	align-items:flex-start;
	margin-right:100px;
	margin-bottom:30px;

	img {
		height: auto;
		width: 100%;
	}
	@media (min-width:992px){
		&:nth-child(4n) {
			margin-right:0;
		}	
	}
	@media (min-width:768px) and (max-width:991px) {
		&:nth-child(3n) {
			margin-right:0;
		}
	}
	@media (max-width:991px) {

		margin-right:50px;
	}
	@media (max-width:767px) {
		margin-left:30px;
		margin-right:30px;
	}
}

.social-wrapper {
	.title {
		font-weight: 500;
		letter-spacing: 0;
		line-height: 1.5em;
	}
}

.social-list {
	align-items: center;
	display: flex;
	justify-content: center;
	line-height: 0;

	> *:not(:last-child) {
		margin-right: 0.5em;
	}

	svg {
		max-height: 2.4rem;
		max-width: 2.4rem;

		path {
			transition: $transition;
		}
	}
}

.footer-bottom {
	background-color: $color-secondary-100;
	position: relative;

	&::before {
		background: $gradient;
		content: "";
		height: 0.5em;
		left: 0;
		position: absolute;
		top: -0.5em;
		width: 100%;
	}

	.footer-nav-list {
		display: flex;
		justify-content: flex-end;

		li {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: 1.57em;
			margin-right: 1.14em;
			padding: 0 1.14em 0 0;

			&::after {
				background-color: $color-text-20;
				content: "";
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 0.071em;
			}

			> a {
				color: $color-white;
			}
		}

		li:last-child {
			margin-right: 0;
			padding: 0;

			&::after {
				content: none;
			}
		}

		li + li {
			margin-top: 0;
		}
	}
}

.developer a {
	color: $color-white;
	display: flex;
	font-size: 1.4rem;
	font-weight: 500;
	justify-content: flex-end;
	line-height: 1.57em;
}

.developer a img {
	height: 1.4rem;
	margin-left: 0.35em;
	margin-top: 0.23rem;
}

@media (min-width: 1200px) {
	.social-list a:hover {
		svg {
			path {
				fill: $color-primary-base1-10;
			}
		}
	}

	.footer-nav-list li a:hover {
		color: $color-primary-base1-10;
	}

	.developer a:hover {
		opacity: 0.7;
	}
}

@media (max-width: 991px) {
	footer {
		.logo {
			max-width: 29.5rem;
		}
	}

	.logo-wrapper {
		margin: 0 auto;
		max-width: 60rem;
	}

	.copyright {
		text-align: center;
	}

	.footer-bottom {
		background-color: $color-secondary-100;
		position: relative;

		&::before {
			background: $gradient;
			content: "";
			height: 0.25em;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.footer-nav-list {
			flex-direction: column;

			li {
				margin-right: 0;
				padding: 0;

				&::after {
					content: none;
				}
			}

			li + li {
				margin-top: 1.14em;
			}
		}
	}

	.developer a {
		justify-content: center;
	}
}

@media (max-width: 767px) {
	footer {
		.container {
			padding-left: 2.75em;
			padding-right: 2.75em;
		}
	}

	.footer-top {
		&::before {
			clip-path: ellipse(200% 100% at 50% 100%);
		}
	}

	.footer-top-inner {
		position: relative;

		&::after {
			background-color: $color-text-30;
			bottom: 0;
			content: "";
			height: 0.0625em;
			left: -2.75em;
			position: absolute;
			width: calc(100% + 5.5em);
		}
	}

	.social-wrapper {
		.title {
			color: $color-text-30;
		}
	}

	.developer a img {
		height: 1.6rem;
	}
}

/**------------------------*/

/** FOOTER STYLE FOR DIVISION */

/**------------------------*/
.division {
	.footer-top {
		&::before {
			background-color: $color-primary-base2-30;
		}
	}

	.footer-bottom {
		background-color: $color-secondary-100;

		&::before {
			background: $color-primary-base2-20;
		}
	}
}
