/**------------------------*/

/**     GLOBAL SETTINGS     */

/**------------------------*/
html {
	-webkit-font-smoothing: antialiased;
	height: auto;
}

body {
	height: auto;
	overflow: visible;
}

#content-block {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	position: relative;
}
.single-post{
	.section{
		img{
			max-width:100%;
		}
	}
}
footer {
	margin-top: auto;
}

.overflow-hidden {
	overflow: hidden;
}

html.overflow-hidden body {
	overflow: hidden;
}

html.overflow-menu,
html.overflow-menu body {
	overflow: hidden;
}

.swiper-slide:not(:first-child) {
	display: block;
}

.swiper-entry .swiper-container {
	opacity: 0;
}

html.keyboard-focus {
	:focus {
		outline: auto;
	}

	.btn-secondary:focus {
		color: $color-white;
		background-color: transparent;
		border-color: transparent;
		outline: 2px solid $color-info-inverse;
	}
}

.clearfix {
	position: relative;
}

.clearfix::after {
	clear: both;
	content: "";
	display: block;
}

section,
.section {
	position: relative;
}

img[data-i-src],
[data-bg] {
	opacity: 0;
	transition: opacity 0.25s;
}

img[data-i-src].imgLoaded,
[data-bg].bgLoaded {
	opacity: 1;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

.container {
	max-width: 100%;
	width: 100%;
}

@media (min-width: 1200px) {
	.container {
		padding-left: 8.334vw;
		padding-right: 8.334vw;
	}
}

@media (max-width: 767px) {
	.container {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.container-lg {
		padding-left: 2.75em;
		padding-right: 2.75em;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		padding-left: 3.125vw;
		padding-right: 3.125vw;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.container {
		padding-left: 3.95vw;
		padding-right: 3.95vw;
	}
}

@media (min-width: 0) and (max-width: 767px) {
	.container {
		padding-left: 11.73vw;
		padding-right: 11.73vw;
	}
}

/* spacers */
[class*="spacer"] {
	clear: both;
	width: 100%;
}

.spacer-0 {
	height: 0;
}

.spacer-2 {
	height: 0.2rem;
}

.spacer-4 {
	height: 0.4rem;
}

.spacer-8 {
	height: 0.8rem;
}

.spacer-12 {
	height: 1.2rem;
}

.spacer-16 {
	height: 1.6rem;
}

.spacer-24 {
	height: 2.4rem;
}

.spacer-32 {
	height: 3.2rem;
}

.spacer-40 {
	height: 4rem;
}

.spacer-48 {
	height: 4.8rem;
}

.spacer-64 {
	height: 6.4rem;
}

.spacer-72 {
	height: 7.2rem;
}

.spacer-96 {
	height: 9.6rem;
}

.spacer-120 {
	height: 12rem;
}

@media (max-width: 991px) {
	.spacer-xs-0 {
		height: 0;
	}

	.spacer-xs-2 {
		height: 0.2rem;
	}

	.spacer-xs-4 {
		height: 0.4rem;
	}

	.spacer-xs-8 {
		height: 0.8rem;
	}

	.spacer-xs-12 {
		height: 1.2rem;
	}

	.spacer-xs-16 {
		height: 1.6rem;
	}

	.spacer-xs-24 {
		height: 2.4rem;
	}

	.spacer-xs-32 {
		height: 3.2rem;
	}

	.spacer-xs-40 {
		height: 4rem;
	}

	.spacer-xs-48 {
		height: 4.8rem;
	}

	.spacer-xs-64 {
		height: 6.4rem;
	}

	.spacer-xs-72 {
		height: 7.2rem;
	}

	.spacer-xs-96 {
		height: 9.6rem;
	}

	.spacer-xs-120 {
		height: 12rem;
	}
}

body ::selection {
	background: #000;
	color: #fff;
}

body ::-moz-selection {
	background: #000;
	color: #fff;
}
