//VARIABLES
@import "variables-mixins";

/**------------------------*/

/* CUSTOM HORIZONTAL LINE */

/**------------------------*/
.custom-horizontal-line {
	display: block;
	background-color: var(--hr-color, $color-secondary-90);
	height: var(--hr-thickness, 3px);
	margin-top: var(--hr-top-spacing, 24px);
	margin-bottom: var(--hr-bottom-spacing, 24px);
}
