/**--------------------------------------------------------------------------------*/

/**     CUSTOM PRELOADER     */

/**--------------------------------------------------------------------------------*/
#loader-wrapper {
	animation: loader 1.3s linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
	background-color: #fff;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

@-webkit-keyframes loader {
	0% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	99% {
		opacity: 0;
	}

	100% {
		display: none;
		opacity: 0;
		visibility: hidden;
		z-index: -10;
	}
}

@keyframes loader {
	0% {
		opacity: 1;
	}

	70% {
		opacity: 1;
	}

	99% {
		opacity: 0;
	}

	100% {
		display: none;
		opacity: 0;
		visibility: hidden;
		z-index: -10;
	}
}
