//VARIABLES
@import "variables-mixins";

/**------------------------*/

/** NEWS BLOCK */

/**------------------------*/
.news-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -2.4rem;

	.news-item {
		margin-bottom: 2.4rem;
		margin-right: 2.4rem;
		max-width: calc(50% - 1.2rem);
		min-height: 48.2rem;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}

	.news-info {
		.title {
			max-width: 100%;
		}
	}
}

.news-item {
	background-color: $color-white;
	border-radius: 0.25em 0.25em 0 0;
	box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.2);
	cursor: pointer;
	display: block;
	height: 100%;
	position: relative;

	&::before {
		background: $gradient;
		bottom: 0;
		content: "";
		height: 0.25em;
		left: 0;
		position: absolute;
		transition: $transition;
		width: 100%;
	}

	&.type-2 {
		.news-info {
			padding: 1.5em 1.5em 4.125em 1.5em;
		}
	}
}

.news-img {
	display: block;
	height: 0;
	padding-bottom: 56.1%;
	position: relative;
	transition: $transition;
	width: 100%;

	img {
		@include imgCover;
	}
}

.border-top {
	background-color: $color-secondary-80;
	height: 1.5em;
	position: relative;
	transition: $transition;
	width: 100%;
}

.news-img + .border-top {
	display: none;
}

.news-info {
	padding: 1.5em 1.5em 2.375em 1.5em;
	transition: $transition;

	.title {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		max-width: 29.5rem;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.date {
	color: $color-text-20;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.5em;
}

.news-swiper {
	margin-left: -1rem;
	margin-right: -1rem;

	.swiper-container:not(.swiper-no-swiping) .swiper-wrapper {
		cursor: default;
	}

	.swiper-container {
		padding: 1rem;
	}

	.swiper-pagination {
		display: none;
	}
}

.decor-news {
	background-color: $color-secondary-80;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 100%;
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: -1;
}

@media (min-width: 1200px) {
	.news-item:hover {

		&::before {
			height: 1em;
		}

		.news-img {
			transform: translateY(-0.5em);
		}

		.border-top {
			transform: translateY(-0.5em);
		}

		.news-info {
			transform: translateY(-0.5em);

			.title {
				color: $color-primary-base1-10;
			}
		}
	}
}

@media (max-width: 1600px) {
	.news-item {
		max-width: 38.4rem;
	}
}

@media (max-width: 1199px) {
	.decor-news {
		height: 98%;
	}
}

@media (max-width: 991px) {
	.news-wrapper {
		.news-item {
			min-height: 39.8rem;
		}
	}

	.date {
		font-size: 1.4rem;
		line-height: 1.57em;
	}

	.news-swiper {
		.swiper-button-wrapper {
			align-items: center;
			display: flex;
			justify-content: center;
			position: relative;

			>*:not(:last-child) {
				margin-right: 1.5em;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			position: relative;
			top: 0;
			transform: unset;
		}

		.swiper-button-prev {
			transform: scaleX(-1);
		}
	}
}

@media (max-width: 767px) {
	.news-wrapper {
		margin-bottom: -1.6rem;

		.news-item {
			margin-bottom: 1.6rem;
			margin-right: 0;
			max-width: 100%;
			min-height: auto;
		}
	}

	.news-info {
		.title {
			-webkit-line-clamp: 3;
		}
	}
}

/**------------------------*/

/** NEWS BLOCK FOR DIVISION */

/**------------------------*/
.division {
	.news-item {
		&::before {
			background: $color-primary-base2-20;
		}
	}
}
