//VARIABLES
@import "variables-mixins";

/**------------------------*/

/** FILTERS */

/**------------------------*/
.filters-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.select-item-total {
	color: $color-text-10;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: 1.5em;
}

@media (max-width: 991px) {
	.filters-wrapper {
		&.mobile-none {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	.select-item-total {
		font-size: 1.4rem;
		line-height: 1.57em;
	}
}

/**------------------------*/

/** CALENDAR FILTERS */

/**------------------------*/

.calendar {
	position: relative;

	.input-calendar {
		border: none;
		cursor: pointer;
		height: auto;
		max-width: 100%;
		padding: 0 3.4rem 0 0;
		position: relative;
		text-align: right;
		width: 36.6rem;

		img {
			max-height: 2.4rem;
			max-width: 2.4rem;
			object-fit: contain;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.calendar-swiper {
	background-color: #fff;
	box-shadow: 0 15px 29px 0 rgba(0, 0, 0, 0.07);
	display: none;
	max-width: 100%;
	position: absolute;
	width: 100%;
	z-index: 1;

	.swiper-button-prev,
	.swiper-button-next {
		background: transparent;
		border: none;
		border-radius: unset;
		height: 2.4rem;
		left: 2.4rem;
		position: absolute;
		top: 3.6rem;
		width: 2.4rem;

		&.swiper-button-next {
			left: auto;
			right: 2.4rem;
		}

		i {
			&::before {
				border-color: $color-primary-base1-30;
			}
		}
	}
}

.calendar-slide {
	padding: 2.4rem;
	position: relative;
}

.calendar-year {
	align-items: center;
	color: $color-text-10;
	display: flex;
	font-size: 1.6rem;
	font-weight: 500;
	justify-content: center;
	line-height: 1.5em;
	margin-bottom: 2.4rem;
}

.calendar-months-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -0.8rem;

	.calendar-month {
		align-items: center;
		color: $color-text-10;
		display: flex;
		font-size: 1.6rem;
		font-weight: 500;
		justify-content: center;
		line-height: 1.5em;
		padding: 0.8rem 2.05rem;
		transition: $transition;
		width: 6.75rem;

		&:hover {
			background-color: $color-secondary-80;
		}

		&.current {
			background-color: $color-secondary-80;
		}

		&.disabled {
			opacity: 0.38;
			pointer-events: none;
		}
	}
}

@media (min-width: 1200px) {
	.calendar-months-list {
		.calendar-month {
			&:hover {
				background-color: $color-secondary-80;
			}
		}
	}
}
