//VARIABLES
@import "variables-mixins";

/**------------------------*/

/*****     TYPOGRAPHY     *****/

/**------------------------*/
:root {
	font-size: 62.5%;
}

body {
	color: $color-text-10;
	font-family: "DM Sans", sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5em;
}

strong,
b {
	font-weight: 600;
}

a {
	color: inherit;
	text-decoration: none;
	transition: $transition;
}

a:hover {
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

/*****     TEXT STYLES     *****/

.text {
	font-size: 2rem;
	line-height: 1.5em;
}

.text-xl {
	font-size: 2.4rem;
	line-height: 1.5em;
}

.text-lg {
	font-size: 2.2rem;
	line-height: 1.44em;
}

.text-sm {
	font-size: 1.6rem;
	line-height: 1.57em;
}

.text,
.text-xl,
.text-lg,
.text-sm {
	color: $color-text-10;
	font-weight: 400;

	&.fw-500 {
		font-weight: 500;
	}

	&.fw-600 {
		font-weight: 600;
	}

	&.fw-700 {
		font-weight: 700;
	}

	&.fw-800 {
		font-weight: 800;
	}

	&.fw-900 {
		font-weight: 900;
	}

	>ul > li {
		font-size: inherit;
		line-height: inherit;
		margin-left: 0.5em;
		padding-left: 1.25em;
		position: relative;

		&::before {
			background: $color-text-10;
			border-radius: 100%;
			content: "";
			height: 0.6rem;
			left: 0;
			position: absolute;
			top: 0.5em;
			width: 0.6rem;
		}

		&:last-child {
			bottom: 0;
		}

		+ li {
			margin-top: 0.8em;
		}

		>ul li {
			font-size: inherit;
			line-height: inherit;
			margin-left: 0.5em;
			padding-left: 1.25em;
			position: relative;

			&::before {
				background: $color-text-10;
				border-radius: 100%;
				content: "";
				height: 0.6rem;
				left: 0;
				position: absolute;
				top: 0.5em;
				width: 0.6rem;
			}

			&:last-child {
				bottom: 0;
			}

			+ li {
				margin-top: 0.8em;
			}
		}

		>ol {
			counter-reset: number;
		}

		>ol li {
			font-size: inherit;
			font-weight: 400;
			line-height: inherit;
			padding-left: 1.875em;
			position: relative;

			&:last-child {
				bottom: 0;
			}

			&::before {
				content: counters(number, ".", decimal);
				counter-increment: number;
				font-weight: 700;
				left: 0;
				position: absolute;
				top: 0;
			}

			+ li {
				margin-top: 0.8em;
			}
		}
	}

	>ol {
		counter-reset: number;
	}

	>ol > li {
		font-size: inherit;
		font-weight: 400;
		line-height: inherit;
		padding-left: 1.875em;
		position: relative;

		&:last-child {
			bottom: 0;
		}

		&::before {
			content: counters(number, ".", decimal);
			counter-increment: number;
			font-weight: 700;
			left: 0;
			position: absolute;
			top: 0;
		}

		+ li {
			margin-top: 0.8em;
		}

		>ul li {
			font-size: inherit;
			line-height: inherit;
			margin-left: 0.5em;
			padding-left: 1.25em;
			position: relative;

			&::before {
				background: $color-text-10;
				border-radius: 100%;
				content: "";
				height: 0.6rem;
				left: 0;
				position: absolute;
				top: 0.5em;
				width: 0.6rem;
			}

			&:last-child {
				bottom: 0;
			}

			+ li {
				margin-top: 0.8em;
			}
		}

		>ol {
			counter-reset: number;
		}

		>ol li {
			font-size: inherit;
			font-weight: 400;
			line-height: inherit;
			padding-left: 1.875em;
			position: relative;

			&:last-child {
				bottom: 0;
			}

			&::before {
				content: counters(number, ".", decimal);
				counter-increment: number;
				font-weight: 700;
				left: 0;
				position: absolute;
				top: 0;
			}

			+ li {
				margin-top: 0.8em;
			}
		}
	}

	a {
		color: $color-info;
		cursor: pointer;
		display: inline;
		font-size: inherit;
		font-weight: 400;
		line-height: inherit;
		position: relative;
		text-decoration: underline;
		transition: $transition;
		// white-space: nowrap;

		// &::before {
		// 	background: $color-info;
		// 	bottom: 0.25em;
		// 	content: "";
		// 	height: 1px;
		// 	left: auto;
		// 	position: absolute;
		// 	right: 0;
		// 	transition: $transition;
		// 	width: 100%;
		// }

	}

	a[target="_blank"] {
		&::after {
			content: url("../img/icons/external_link.svg");
	    	margin-left: 0.25rem;
	    	display:inline-block;
	    	width:14px;
    	}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 800;
	}

	h2 {
		color: $color-primary-base2-10;
	}

	h3 {
		color: $color-text-10;
	}

	> blockquote {
		border-bottom: 0.11em solid $color-primary-base2-20;
		border-top: 0.11em solid $color-primary-base2-20;
		color: $color-text-10;
		font-size: 3.6rem;
		font-weight: 400;
		line-height: 1.28em;
		padding: 3.5em 0 1.3em 0;
		position: relative;

		h5 {
			font-size: 0.67em;
			font-weight: 800;
			margin-top: 2.4rem;
		}

		p {
			color: $color-text-20;
			font-size: 0.44em;
			line-height: 1.5em;
		}

		&::before {
			background-image: url("../img/icons/quotes.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			content: "";
			height: 0.94em;
			left: 0;
			position: absolute;
			top: 1.5em;
			width: 1.17em;
		}
	}

	> iframe {
		border: 0;
		display: block;
		height: 38.5rem;
		margin-bottom: 0;
		max-height: 56.3vw;
		max-width: 100%;
		position: relative;
		width: 100%;

		+ span {
			background-color: $color-secondary-100;
			color: $color-white;
			display: block;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.5em;
			padding: 1.6rem;
			position: relative;
		}
	}

	img {
		display: block;
		height: auto;
		margin-bottom: 0;
		max-width: 100%;
		width: 100%;

		+ span {
			background-color: $color-secondary-100;
			color: $color-white;
			display: block;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.5em;
			padding: 1.6rem;
			position: relative;
		}
	}

	>.video-container {
		border-radius: 0.4rem 0.4rem 0 0;
		overflow: hidden;
		position: relative;
		width: 100%;
		z-index: 1;

		.video-item.html5video {
			height: 38.5rem;
			max-height: 56.3vw;
			position: relative;

			video {
				height: 100%;
				left: 0;
				object-fit: cover;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}

		.video-cover {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			left: 0;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;
		}

		.playpausebtns {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
			left: 50%;
			margin: 0 auto;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			z-index: 2;

			a {
				background: $color-white;
				border: 0.1rem solid #e2f0ff;
				border-radius: 100%;
				box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
				height: 8rem;
				transition: $transition;
				width: 8rem;

				&::before {
					content: none;
				}

				&::after {
					border-bottom: 1rem solid transparent;
					border-left: 1.6rem solid $color-secondary-100;
					border-top: 1rem solid transparent;
					content: "";
					display: inline-block;
					left: calc(50% + 0.4rem);
					position: absolute;
					top: 50%;
					transform: translate(-50%, -50%);
					transition: $transition;
				}

				&.pause-video {
					display: none;
					height: 100%;
					opacity: 0;
					width: 100%;
				}
			}
		}

		+ span {
			background-color: $color-secondary-100;
			color: $color-white;
			display: block;
			font-size: 1.6rem;
			font-weight: 400;
			line-height: 1.5em;
			padding: 1.6rem;
			position: relative;
		}
	}

	h1, h2, h3, h4 {
		margin-bottom: 2.4rem;
	}

	h5, h6 {
		margin-bottom: 1.6rem;
	}

	p {
		margin-bottom: 1.6rem;
		min-height: 1.5em;
	}

	ul, ol {
		margin-bottom: 2.4rem;
	}

	ul li {
		+ li {
			margin-top: 1.6rem;
		}

		ul, ol {
			margin-top: 1.6rem;
		}
	}

	ol li {
		+ li {
			margin-top: 1.6rem;
		}

		ul, ol {
			margin-top: 1.6rem;
		}
	}

	table {
		margin-bottom: 1.6rem;
	}

	>*:last-child {
		margin-bottom: 4.8rem;
	}
}

.text-block .text {
	h1, h2, h3, h4 {
		margin-bottom: 2.4rem;
	}

	h5, h6 {
		margin-bottom: 1.6rem;
	}

	p {
		margin-bottom: 1.6rem;
		min-height: 1.5em;
	}

	ul, ol {
		margin-bottom: 2.4rem;
	}

	ul li {
		+ li {
			margin-top: 1.6rem;
		}

		ul, ol {
			margin-top: 1.6rem;
		}
	}

	ol li {
		+ li {
			margin-top: 1.6rem;
		}

		ul, ol {
			margin-top: 1.6rem;
		}
	}

	table {
		margin-bottom: 1.6rem;
	}
}

.text-block:last-child {
	margin-bottom: 0;
}

.accordion-inner {
	.text-lg > *:last-child {
		margin-bottom: 0;
	}

	.text-lg {
		>.text > *:last-child,
		>.text-xl > *:last-child,
		>.text-lg > *:last-child,
		> .text-sm > *:last-child {
			margin-bottom: 1.6rem;
		}
	}
}

.title.light,
.text.light,
.text-xl.light,
.text-lg.light,
.text-sm.light {
	color: $color-white;
}

.text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.text-cut-2 {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-cut-3 {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-cut-4 {
	-webkit-box-orient: vertical;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-10 {
	color: $color-text-10;
}

.text-20 {
	color: $color-text-20;
}

.text-30 {
	color: $color-text-30;
}

.text-40 {
	color: $color-text-40;
}

/*****     TITLE STYLES     *****/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color: $color-text-10;
	font-family: "Avenir LTPro-Heavy", sans-serif;
}

h1,
.h1 {
	font-size: 5.4rem;
	letter-spacing: 0;
	line-height: 1.22em;
}

h2,
.h2 {
	font-size: 4.8rem;
	letter-spacing: 0;
	line-height: 1.17em;
}

h3,
.h3 {
	font-size: 3.6rem;
	letter-spacing: 0;
	line-height: 1.28em;
}

h4,
.h4 {
	font-size: 3rem;
	line-height: 1.2em;
}

h5,
.h5 {
	font-size: 2.4rem;
	letter-spacing: 0;
	line-height: 1.25em;
}

h6,
.h6 {
	font-size: 1.6rem;
	letter-spacing: 0;
	line-height: 1.25em;
}

.title {
	color: $color-text-10;
	transition: $transition;

	&.fw-300 {
		font-weight: 300;
	}

	&.fw-400 {
		font-weight: 400;
	}

	&.fw-500 {
		font-weight: 500;
	}

	&.fw-600 {
		font-weight: 600;
	}

	&.fw-700 {
		font-weight: 700;
	}

	&.fw-800 {
		font-weight: 800;
	}

	&.fw-900 {
		font-weight: 900;
	}

	&.text-10 {
		color: $color-text-10;
	}

	&.text-20 {
		color: $color-text-20;
	}

	&.text-30 {
		color: $color-text-30;
	}

	&.text-40 {
		color: $color-text-40;
	}
}

@media (min-width: 1200px) {
	.text,.text-xl,.text-lg,.text-sm {

		a:hover {
			color: $color-primary-base1-10;

			&::before {
				background: $color-primary-base1-10;
			}
		}
	}

	.video-container .playpausebtns a:hover {
		background: $color-primary-base1-30;
		border-color: $color-primary-base1-30;

		&::after {
			border-left: 16px solid $color-white;
		}
	}
}

@media (max-width: 1400px) {
	h1,
	.h1 {
		font-size: 4.8rem;
	}

	h2,
	.h2 {
		font-size: 4rem;
	}

	h3,
	.h3 {
		font-size: 3rem;
	}

	h4,
	.h4 {
		font-size: 2.4rem;
	}

	h5,
	.h5 {
		font-size: 2rem;
	}
}

@media (max-width: 1199px) {
	h1,
	.h1 {
		font-size: 4rem;
	}

	h2,
	.h2 {
		font-size: 3.6rem;
	}

	h3,
	.h3 {
		font-size: 2.4rem;
	}

	h4,
	.h4 {
		font-size: 2.2rem;
	}

	h5,
	.h5 {
		font-size: 1.8rem;
	}

	.text,
	.text-xl,
	.text-lg,
	.text-sm {
		> blockquote {
			font-size: 2.4rem;
		}
	}

	.text-xl {
		font-size: 2.2rem;
	}

	.text-lg {
		font-size: 2rem;
	}

	.text {
		font-size: 1.8rem;
	}
}

@media (max-width: 767px) {
	h1,
	.h1 {
		font-size: 3.6rem;
	}

	h2,
	.h2 {
		font-size: 3rem;
	}

	.text,
	.text-xl,
	.text-lg,
	.text-sm {
		> blockquote {
			font-size: 2rem;
		}

		iframe {
			+ span {
				font-size: 1.4rem;
				padding: 0.8rem;
			}
		}

		img + span {
			font-size: 1.4rem;
			padding: 0.8rem;
		}

		>.video-container {
			.playpausebtns {
				a {
					height: 6rem;
					width: 6rem;
				}
			}

			+ span {
				font-size: 1.4rem;
				padding: 0.8rem;
			}
		}
	}

	.text-xl {
		font-size: 2rem;
	}

	.text-lg {
		font-size: 1.8rem;
	}

	.text {
		font-size: 1.6rem;
	}
}
