// Breakpoints
@mixin for-phone-only {
  @media (max-width: 375px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 376px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 769px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1025px) { @content; }
}
@mixin for-large-desktop-up {
  @media (min-width: 1441px) { @content; }
}

// Custom Breakpoints
@mixin for-desktop-1120-up {
  @media (min-width: 1120px) { @content; }
}

// Containers
@mixin container {
  display: block;

  @include for-phone-only {
    margin: 0 32px;
  }

  @include for-tablet-portrait-up {
    margin: 0 32px;
  }

  @include for-tablet-landscape-up {
    margin: 0 24px;
  }

  @include for-desktop-up {
    margin: 0 60px;
  }

  @include for-large-desktop-up {
    margin: 0 auto;
	  max-width: 1200px;
  }
}

@mixin container-wide {
  display: block;

  @include for-phone-only {
    margin: 0 32px;
  }

  @include for-tablet-portrait-up {
    margin: 0 32px;
  }

  @include for-tablet-landscape-up {
    margin: 0 24px;
  }

  @include for-desktop-up {
    margin: 0 60px;
  }

  @include for-large-desktop-up {
    margin: 0 auto;
	  max-width: 1440px;
  }
}

@mixin container-slider {
  display: block;

  @include for-phone-only {
    margin: 0;
  }

  @include for-tablet-portrait-up {
    margin: 0;
  }

  @include for-tablet-landscape-up {
    margin: 0;
  }

  @include for-desktop-up {
    margin: 0 60px;
  }

  @include for-large-desktop-up {
    margin: 0 auto;
	  max-width: 1200px;
  }
}

@mixin container-report-nav {
  display: block;

  @include for-phone-only {
    margin: 0;
  }

  @include for-tablet-portrait-up {
    margin: 0;
  }

  @include for-tablet-landscape-up {
    margin: 0 0 0 24px;
  }

  @include for-desktop-up {
    margin: 0 0 0 60px;
  }

  @include for-large-desktop-up {
    margin: 0 0 0 calc((100vw - 1200px) / 2);
  }
}

// Section
@mixin sectionSpacing {
  padding: 80px 0 0 0;

  @include for-tablet-landscape-up {
    padding: 120px 0 0 0;
  }
}

@mixin articleSectionSpacing {
  padding: 64px 0 0 0;

  @include for-tablet-landscape-up {
    padding: 80px 0 0 0;
  }
}

@mixin articleSectionInnerWidth {
  width: 100%;
  max-width: 790px;
  margin-left: auto;

  @include for-desktop-1120-up {
    margin-left: calc(#{$sidebar-width} + 32px);
  }
}

// Label
@mixin label {
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 24px;

  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 16px;
    background-color: $navy;
    bottom: 0;
    left: 0;
  }
}

// Background Colors
@mixin background-half-colors {
  &.pastel-green {
    background: linear-gradient(to bottom, $pastel-green 70%, $white 30%);
  }

  &.pastel-red {
    background: linear-gradient(to bottom, $pastel-red 70%, $white 30%);
  }

  &.pastel-purple {
    background: linear-gradient(to bottom, $pastel-purple 70%, $white 30%);
  }
  
  &.pastel-mint {
    background: linear-gradient(to bottom, $pastel-mint 70%, $white 30%);
  }

  &.pastel-yellow {
    background: linear-gradient(to bottom, $pastel-yellow 70%, $white 30%);
  }

  &.pastel-blue {
    background: linear-gradient(to bottom, $pastel-blue 70%, $white 30%);
  }

  @include for-desktop-up {
    &.pastel-green {
      background: linear-gradient(to bottom, $pastel-green 60%, $white 40%);
    }
  
    &.pastel-red {
      background: linear-gradient(to bottom, $pastel-red 60%, $white 40%);
    }
  
    &.pastel-purple {
      background: linear-gradient(to bottom, $pastel-purple 60%, $white 40%);
    }
    
    &.pastel-mint {
      background: linear-gradient(to bottom, $pastel-mint 60%, $white 40%);
    }
  
    &.pastel-yellow {
      background: linear-gradient(to bottom, $pastel-yellow 60%, $white 40%);
    }
  
    &.pastel-blue {
      background: linear-gradient(to bottom, $pastel-blue 60%, $white 40%);
    }
  }

  @include for-large-desktop-up {
    &.pastel-green {
      background: linear-gradient(to bottom, $pastel-green 50%, $white 50%);
    }
  
    &.pastel-red {
      background: linear-gradient(to bottom, $pastel-red 50%, $white 50%);
    }
  
    &.pastel-purple {
      background: linear-gradient(to bottom, $pastel-purple 50%, $white 50%);
    }
    
    &.pastel-mint {
      background: linear-gradient(to bottom, $pastel-mint 50%, $white 50%);
    }
  
    &.pastel-yellow {
      background: linear-gradient(to bottom, $pastel-yellow 50%, $white 50%);
    }
  
    &.pastel-blue {
      background: linear-gradient(to bottom, $pastel-blue 50%, $white 50%);
    }
  }
}

@mixin background-colors {
  &.pastel-green {
    background-color: $pastel-green;
  }

  &.pastel-red {
    background-color: $pastel-red;
  }

  &.pastel-purple {
    background: $pastel-purple;
  }
  
  &.pastel-mint {
    background-color: $pastel-mint;
  }

  &.pastel-yellow {
    background-color: $pastel-yellow;
  }

  &.pastel-blue {
    background-color: $pastel-blue;
  }

  &.bright-blue {
    background-color: $bright-blue;
    color: $white;
    border-top-color: $gray-10;
    border-bottom-color: $gray-10;

    svg path {
      fill: $white;
    }

    a, button {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .header-nav-right-item-btn {
      border-left-color: $gray-10;
    }
  }
}

//Typography
@mixin h1 {
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;

  @include for-tablet-landscape-up {
    font-size: 84px;
    line-height: 100%;
  }
}

@mixin h2 {
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 32px;
  line-height: 112%;

  @include for-tablet-landscape-up {
    font-size: 68px;
    line-height: 100%;
  }
}

@mixin h3 {
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;

  @include for-tablet-landscape-up {
    font-size: 48px;
    line-height: 108%;
  }
}

@mixin h4 {
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 18px;
  line-height: 144%;

  @include for-tablet-landscape-up {
    font-size: 38px;
    line-height: 108%;
  }
}

@mixin h5 {
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  @include for-tablet-landscape-up {
    font-size: 28px;
    line-height: 120%;
  }
}

@mixin h6 {
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
}

@mixin body-01 {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 164%;

  @include for-tablet-landscape-up {
    font-size: 24px;
    line-height: 164%;
  }
}

@mixin body-01-bold {
  font-family: $open-sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 164%;

  @include for-tablet-landscape-up {
    font-size: 24px;
    line-height: 164%;
  }
}

@mixin body-02 {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 164%;

  @include for-tablet-landscape-up {
    font-size: 18px;
    line-height: 164%;
  }
}

@mixin body-02-bold {
  font-family: $open-sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 164%;

  @include for-tablet-landscape-up {
    font-size: 18px;
    line-height: 164%;
  }
}

@mixin body-03 {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 164%;

  @include for-tablet-landscape-up {
    font-size: 14px;
    line-height: 164%;
  }
}

@mixin body-03-bold {
  font-family: $open-sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 164%;

  @include for-tablet-landscape-up {
    font-size: 14px;
    line-height: 164%;
  }
}

// Body-04 styles are for mobile only
@mixin body-04 {
  font-family: $open-sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 164%;
}

@mixin body-04-bold {
  font-family: $open-sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 164%;
}

@mixin label-large-semibold {
  font-family: $barlow;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;

  @include for-tablet-landscape-up {
    font-size: 18px;
    line-height: 120%;
  }
}

@mixin label-large-regular {
  font-family: $barlow;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;

  @include for-tablet-landscape-up {
    font-size: 18px;
    line-height: 120%;
  }
}

@mixin label-small-semibold {
  font-family: $barlow;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;

  @include for-tablet-landscape-up {
    font-size: 14px;
    line-height: 110%;
  }
}

@mixin label-small-regular {
  font-family: $barlow;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;

  @include for-tablet-landscape-up {
    font-size: 14px;
    line-height: 110%;
  }
}

@mixin highlight-quote {
  font-family: $source-sans-pro;
  font-weight: 300;
  font-size: 28px;
  line-height: 114%;

  @include for-tablet-landscape-up {
    font-size: 48px;
    line-height: 112%;
  }
}

@mixin data-headline-01 {
  font-family: $barlow;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  color: $black;
  
  @include for-tablet-landscape-up {
    font-size: 80px;
    line-height: 80%;
  }
}

@mixin data-headline-02 {
  font-family: $barlow;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  
  @include for-tablet-landscape-up {
    font-size: 56px;
    line-height: 100%;
  }
}

@mixin data-headline-03 {
  font-family: $barlow;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  
  @include for-tablet-landscape-up {
    font-size: 32px;
    line-height: 100%;
  }
}

@mixin data-text-01 {
  font-family: $barlow;
  font-weight: 400;
  font-size: 28px;
  line-height: 120%;

  @include for-tablet-landscape-up {
    font-size: 32px;
    line-height: 38px;
  }
}

@mixin data-text-02 {
  font-family: $barlow;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

@mixin text-link-01-semibold {
  font-family: $barlow;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;

  svg {
    width: 15px;
    height: auto;
    position:relative;
    left: 8px;
    top: 2px;

    path {
      fill: $navy;
      stroke: $navy;
    }
  }

  &[target="_blank"] {
    svg {
      transform: rotate(-45deg);
    }
  }

  @include for-tablet-landscape-up {
    font-size: 22px;
    line-height: 140%;

    svg {
      width: 18px;
    }
  }
}

@mixin text-link-01-medium {
  font-family: $barlow;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;

  svg {
    width: 15px;
    height: auto;
    position:relative;
    left: 8px;
    top: 2px;

    path {
      fill: $navy;
      stroke: $navy;
    }
  }

  &[target="_blank"] {
    svg {
      transform: rotate(-45deg);
    }
  }

  @include for-tablet-landscape-up {
    font-size: 22px;
    line-height: 140%;

    svg {
      width: 18px;
    }
  }
}

@mixin text-link-02-semibold {
  font-family: $barlow;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  svg {
    width: 15px;
    height: auto;
    position:relative;
    left: 8px;
    top: 2px;

    path {
      fill: $navy;
      stroke: $navy;
    }
  }

  &[target="_blank"] {
    svg {
      transform: rotate(-45deg);
    }
  }

  @include for-tablet-landscape-up {
    font-size: 16px;
    line-height: 140%;
  }
}

@mixin text-link-02-medium {
  font-family: $barlow;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  svg {
    width: 15px;
    height: auto;
    position:relative;
    left: 8px;
    top: 2px;

    path {
      fill: $navy;
      stroke: $navy;
    }
  }

  &[target="_blank"] {
    svg {
      transform: rotate(-45deg);
    }
  }

  @include for-tablet-landscape-up {
    font-size: 16px;
    line-height: 140%;
  }
}

@mixin card-title-large {
  font-family: $source-sans-pro;
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;

  @include for-tablet-landscape-up {
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
  }
}

@mixin card-title-small {
  font-family: $source-sans-pro;
  font-weight: 600;
  font-size: 24px;
  line-height: 117%;

  @include for-tablet-landscape-up {
    font-size: 28px;
    line-height: 32px;
  }
}


@font-face {
    font-family:Bariol Regular;
    src: url("../src/font/bariol_regular-webfont.ttf");
}