// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Source+Sans+Pro:wght@300;600&display=swap');


// NYBCV Primary Colors
$tan: #DCDAD4;

// Primary Colors
$navy: #101E34;
$bright-blue: #2E5CFF;
$bright-blue-hover: #0736DC;
$mint: #B2F1F4;
$mint-hover: #74E8EE;
$snap-purple: #C99FFF;

// Secondary Colors
$pastel-red: #FFF2F1;
$pastel-pink: #FFE5F6;
$pastel-purple: #F5ECFF;
$pastel-mint: #EEFEFF;
$pastel-yellow: #FFFCDF;
$pastel-green: #EEFAE8;
$pastel-blue: #EBF4FF;

// Tertiary Colors
$blue-chart-scale-10: #CDD7FF;
$blue-chart-scale-20: #B8C7FF;
$blue-chart-scale-30: #A2B7FF;
$blue-chart-scale-40: #7B98FF;
$blue-chart-scale-50: #4569EA;
$blue-chart-scale-60: #2E5CFF;
$blue-chart-scale-70: #0036F5;
$blue-chart-scale-80: #002197;
$blue-chart-scale-90: #00155E;

// Data Colors
$data-green: #54C425;
$data-teal: #31BCB3;
$data-blue: #4799FF;
$data-yellow: #FFC103;
$data-orange: #FE7F02;
$data-red: #FF604A;
$data-pink: #FE5AFF;
$data-purple: #C89FFF;

// Neutral Colors
$white: #FFFFFF;
$gray-10: #F3F6F7;
$gray-20: #A9BACB;
$gray-30: #5E7185;
$black: #000000;

// Aux Colors
$error: #DA1E28;
$error-hover: #BF271D;
$error-inverse: #FA4D56;
$info: #0F62FE;
$info-inverse: #4589FF;
$success: #24A148;
$success-inverse: #42BE65;
$warning: #F1C21B;
$warning-inverse: #EED375;

// Fonts
$barlow: 'Barlow', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
//old ^
//new v
$bariol-regular: 'Bariol Regular', sans-serif;
$bariol-bold-italic: 'Bariol Bold Italic', 'Bariol Regular', sans-serif;



// Animation
$ease: .3s ease;

// Layout
$sidebar-width: 179px;


