/**-----------------------------------------------------------------------*/
/** ACCORDION */
/**-----------------------------------------------------------------------*/
.accordion {
  position: relative;
  z-index: 1;

  > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

.accordion-item {
  position: relative;
  border-top: 1px solid $color-text-30;
}

.accordion-title {
  position: relative;
  font-size: 2.4rem;
  line-height: 1.25em;
  font-weight: 700;
  letter-spacing: -0.2rem;
  color: $color-text-10;
  cursor: pointer;
  transition: $transition;
  padding: 0.75em 1.67em 0.5em 0.67em;



  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0.83em;
    width: 0.42em;
    height: 0.42em;
    border-left: 0.083em solid $color-text-10;
    border-bottom: 0.083em solid $color-text-10;
    transform: translateY(-50%) rotate(-45deg);
    transition: $transition;
  }

  &.active {
    color: $color-text-10;

    &::before {
      transform: rotate(-225deg);
      border-color: $color-text-10;
    }
  }
}

.accordion-inner {
  display: none;
  padding: 1em 1em 1.5em 1em;
}

@media (hover: hover) and (min-width: 1200px), (-ms-high-contrast: none) {
  .accordion-item:hover {
    .accordion-title {
      color: $color-primary-base1-10;

      &::before {
        border-color: $color-primary-base1-10;
      }
    }
  }
}

@media (max-width: 1199px) {
  .accordion-title {
    font-size: 16px;

    &::before {
      top: 16px;
    }

    &.active {
      &::before {
        top: 18px;
      }
    }
  }
}

@media (max-width: 767px) {
  .accordion-title {
    padding: 10px 35px 10px 15px;
  }

  .accordion-inner {
    padding: 10px 35px 10px 15px;
  }
}