/**-----------------------------------------------------------------------*/

/** ACCORDION */

/**-----------------------------------------------------------------------*/
.accordion {
	position: relative;
	z-index: 1;

	> *:not(:last-child) {
		margin-bottom: 10px;
	}
}

.accordion-item {
	border-top: 1px solid $color-text-30;
	position: relative;
}

.accordion-title {
	color: $color-text-10;
	cursor: pointer;
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: -0.2rem;
	line-height: 1.25em;
	padding: 0.75em 1.67em 0.5em 0.67em;
	position: relative;
	transition: $transition;

	&::before {
		border-bottom: 0.083em solid $color-text-10;
		border-left: 0.083em solid $color-text-10;
		content: "";
		height: 0.42em;
		position: absolute;
		right: 0.83em;
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
		transition: $transition;
		width: 0.42em;
	}

	&.active {
		color: $color-text-10;

		&::before {
			border-color: $color-text-10;
			transform: rotate(-225deg);
		}
	}
}

.accordion-inner {
	display: none;
	padding: 1em 1em 1.5em 1em;
}

@media (hover: hover) and (min-width: 1200px), (-ms-high-contrast: none) {
	.accordion-item:hover {
		.accordion-title {
			color: $color-primary-base1-10;

			&::before {
				border-color: $color-primary-base1-10;
			}
		}
	}
}

@media (max-width: 1199px) {
	.accordion-title {
		font-size: 16px;

		&::before {
			top: 16px;
		}

		&.active {
			&::before {
				top: 18px;
			}
		}
	}
}

@media (max-width: 767px) {
	.accordion-title {
		padding: 10px 35px 10px 15px;
	}

	.accordion-inner {
		padding: 10px 35px 10px 15px;
	}
}
