/*---------------------------------------------------------------------------*/

/* GLOBAL SETTINGS */

/*---------------------------------------------------------------------------*/
html {
	height: auto;
}

body {
	height: auto;
	overflow: visible;
}

body ::selection {
	background: #000;
	color: #fff;
}

body ::-moz-selection {
	background: #000;
	color: #fff;
}

.swiper-slide:not(:first-child) {
	display: block;
}

.bg-color-blue {
	background-color: #274298;
}

.bg-color-dark-blue {
	background-color: #002169;

}

.bg-color-light-blue {
	background-color: #47a3ff;
}

.bg-color-red {
	background-color: #df1818;
}

.bg-color-violet {
	background-color: #47a3ff;
}

.clr-grey {
	background: #c4c4c4;
}

.clr-yellow {
	background: #ffa800;
}

.clr-blue {
	background: #009bcc;
}

.clr-aqua {
	background: #bdf6fd;
}

.clr-white {
	background: #fff;
}

.clr-violet {
	background: #7c1dc9;
}

.clr-black {
	background: #161616;
}
